/* ==========================================================================
   Imports/Includes
   ========================================================================== */
/*! HTML5 Boilerplate v5.2.0 | MIT License | https://html5boilerplate.com/ */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html {
  color: #222;
  /*font-size: 1em;*/
  /*line-height: 1.4;*/
  background: #FFFFFF;
  height: 100%; }

body {
  height: 100%; }

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical; }

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Hide visually and from screen readers:
 */
.hidden {
  display: none !important; }

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

/*
 * Hide visually and from screen readers, but maintain layout
 */
.invisible {
  visibility: hidden; }

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after {
  clear: both; }

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */ }
@media print, (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 1.25dppx), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */ }
/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster:
       http://www.sanbeiji.com/archives/953 */
    box-shadow: none !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: ""; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  /*
   * Printing Tables:
   * http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group; }

  tr,
  img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; } }
/**
 * breakpoints for media queries
 * usage example: 
 * .section{
 *   width: 100%;
 *   @include bp($mobile){
 *     width: 50%;
 *   }
 * }
 */
.wrapper {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  /*padding: 60px 0 0 0;*/ }
  @media screen and (max-width: 1023px) {
    .wrapper {
      max-width: none; } }

.content {
  display: block;
  width: 100%;
  margin: 0 auto;
  position: relative;
  opacity: 0; }

body {
  font-size: 14px;
  color: #000000; }

p {
  margin: 0 0 14px 0;
  font-family: 'Gotham-Light'; }

.LIGHT {
  font-family: 'Gotham-Light'; }

.LIGHT-ITALIC {
  font-family: 'Gotham-LightItalic'; }

.BOOK {
  font-family: 'Gotham-Book'; }

.THIN {
  font-family: 'Gotham-Light'; }

h1 {
  font-family: 'Gotham-Black';
  font-size: 30px;
  width: 380px;
  height: 67px;
  background: #FFFFFF;
  color: #000000;
  text-align: center;
  display: block;
  margin: 0 auto;
  line-height: 67px;
  text-transform: uppercase;
  z-index: 1;
  position: relative; }
  @media screen and (max-width: 480px) {
    h1 {
      width: 290px; } }

.btn-readmore-black {
  background: url("../images/btn-readmore-black.svg") no-repeat center center;
  width: 30px;
  height: 30px;
  display: block;
  margin: 10px auto 0 auto;
  position: relative; }
  .btn-readmore-black:hover, .btn-readmore-black.hover {
    background: url("../images/btn-readmore-orange.svg") no-repeat center center; }

.btn-readmore-white {
  background: url("../images/btn-readmore-white.svg") no-repeat center center;
  width: 30px;
  height: 30px;
  display: block;
  position: relative;
  margin: 130px auto 0 auto; }
  .btn-readmore-white:hover, .btn-readmore-white.hover {
    background: url("../images/btn-readmore-orange.svg") no-repeat center center; }

.btn-readmore-orange {
  background: url("../images/btn-readmore-orange.svg") no-repeat center center;
  width: 30px;
  height: 30px;
  display: block;
  margin: 130px auto 0 auto;
  position: relative; }
  .btn-readmore-orange:hover, .btn-readmore-orange.hover {
    background: url("../images/btn-readmore-white.svg") no-repeat center center; }

.divider {
  background: url("../images/divider.svg") no-repeat;
  width: 53px;
  height: 7px;
  margin: 0 auto; }

.divider-white {
  background: url("../images/divider-white.svg") no-repeat;
  width: 53px;
  height: 7px;
  margin: 0 auto; }

.divider-black {
  background: url("../images/divider-black.svg") no-repeat;
  width: 53px;
  height: 7px;
  margin: 0 auto; }

.btn-discover {
  background: url("../images/btn-discover.svg") no-repeat;
  width: 111px;
  height: 41px;
  display: block;
  font-family: 'Gotham-MediumItalic';
  font-size: 12px;
  line-height: 14px;
  color: #FFFFFF;
  text-decoration: none;
  text-align: center;
  padding: 9px 0 0 40px;
  margin: 30px auto 0 auto; }

.btn-vm {
  background: url("../images/btn-vm.svg") no-repeat;
  width: 111px;
  height: 41px;
  display: block;
  font-family: 'Gotham-MediumItalic';
  font-size: 12px;
  line-height: 14px;
  color: #FFFFFF;
  text-decoration: none;
  text-align: center;
  padding: 9px 0 0 40px;
  /*margin: 30px auto 0 auto;*/
  float: left;
  /*margin: */ }

.btn-next {
  background: url("../images/btn.svg") no-repeat;
  width: 111px;
  height: 45px;
  display: block;
  font-family: 'Gotham-MediumItalic';
  font-size: 12px;
  line-height: 45px;
  color: #FFFFFF;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  /*padding: 0 0 0 40px;*/
  /*margin: 30px auto 0 auto;*/ }

.btn {
  position: relative;
  width: 115px;
  height: 45px;
  display: block;
  margin: -30px auto 0 auto;
  z-index: 999; }
  .btn svg {
    position: absolute;
    top: 0;
    left: 0; }
  .btn p {
    /*float: left;*/
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    line-height: 45px;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: 12px;
    font-family: Gotham-MediumItalic; }

.desktop {
  display: block; }
  @media screen and (max-width: 1023px) {
    .desktop {
      display: none; } }

.mobile {
  display: none; }
  @media screen and (max-width: 1023px) {
    .mobile {
      display: block; } }

.dropdown {
  background: url("../images/WorldClassBars_DropDown_Closed.svg") no-repeat;
  width: 216px;
  height: 52px;
  margin: -25px 0 0 290px;
  float: left; }
  @media screen and (max-width: 480px) {
    .dropdown {
      margin: -80px 0 0 -108px;
      position: relative;
      float: left;
      left: 50%; } }
  .dropdown.open {
    height: 207px;
    background: url("../images/WorldClassBars_DropDown_Open.svg") no-repeat;
    z-index: 999;
    position: relative; }
  .dropdown a {
    text-decoration: none; }

.dropdown-reserve {
  background: url("../images/ReserveClubBars_DropDown_Closed.svg") no-repeat;
  width: 216px;
  height: 52px;
  margin: -25px 0 0 10px;
  float: left; }
  @media screen and (max-width: 480px) {
    .dropdown-reserve {
      margin: -20px 0 0 -108px;
      position: relative;
      float: left;
      left: 50%; } }
  .dropdown-reserve.open {
    height: 207px;
    z-index: 999;
    position: relative;
    background: url("../images/ReserveClubBars_DropDown_Open.svg") no-repeat; }
  .dropdown-reserve a {
    text-decoration: none !Important; }

a:-webkit-any-link {
  text-decoration: none !important; }

.btn-dropdown {
  font-family: 'Gotham-MediumItalic';
  color: #FFFFFF;
  line-height: 52px;
  padding: 0 0 0 15px;
  cursor: pointer;
  text-transform: uppercase; }

.btn-dropdown-option {
  font-family: 'Gotham-Light';
  color: #FFFFFF;
  line-height: 16px;
  width: 100%;
  height: 16px;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  margin: 24px 0 0 0;
  display: none; }
  .btn-dropdown-option:hover {
    font-family: 'Gotham-Medium'; }
  .btn-dropdown-option.open {
    display: block; }

input[type='submit'] {
  border: none; }

input[type="checkbox"] {
  opacity: 0;
  float: left;
  clear: left;
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin: 0px 0 35px 0; }
  input[type="checkbox"]:nth-child(2) {
    margin: 0; }

input[type="checkbox"] + label {
  margin: 0 0 0 -20px;
  clear: none;
  float: left;
  padding: 0px 0 0px 24px;
  background: url("../images/checkbox-unchecked.png") left top no-repeat;
  cursor: pointer;
  font-family: 'Gotham-Light';
  font-size: 14px;
  line-height: 20px;
  color: #FFFFFF;
  -webkit-transition: color 0.3s;
  -ms-transition: color 0.3s;
  transition: color 0.3s; }
  input[type="checkbox"] + label:hover {
    color: #f47a20; }

input[type="checkbox"]:checked + label {
  background-image: url("../images/checkbox-checked.png"); }

input[type='text'] {
  color: #000000;
  font-family: 'Gotham-Medium'; }
  input[type='text']::-webkit-input-placeholder {
    font-family: 'Gotham-Medium';
    color: #000000; }
  input[type='text']:-moz-placeholder {
    /* Firefox 18- */
    font-family: 'Gotham-Medium';
    color: #000000; }
  input[type='text']::-moz-placeholder {
    /* Firefox 19+ */
    font-family: 'Gotham-Medium';
    color: #000000; }
  input[type='text']:-ms-input-placeholder {
    font-family: 'Gotham-Medium';
    color: #000000; }
  input[type='text']:placeholder {
    font-family: 'Gotham-Medium';
    color: #000000; }

.errorText {
  display: none;
  text-align: left;
  color: #f47a20;
  font-size: 12px;
  width: 100%;
  float: left;
  clear: left; }

.social-icon {
  width: 43px;
  height: 43px;
  float: left;
  margin: 0 0 0 15px; }

.social-facebook {
  background: url("../images/social-facebook.svg") no-repeat; }

.social-twitter {
  background: url("../images/social-twitter.svg") no-repeat; }

.GlowingLight {
  float: left; }

/*.preloader{
    width: 100px;
    height: 100px;
    position: absolute;
    top: 30%;
    left: 50%;
    svg{
        position: absolute;
        left: -50px;
    }
}*/
@font-face {
  font-family: 'Gotham-Light';
  src: url("../fonts/gotham-light/Gotham-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/gotham-light/Gotham-Light.otf") format("opentype"), url("../fonts/gotham-light/Gotham-Light.woff") format("woff"), url("../fonts/gotham-light/Gotham-Light.ttf") format("truetype"), url("../fonts/gotham-light/Gotham-Light.svg#Gotham-Light") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Gotham-LightItalic';
  src: url("../fonts/gotham-light-italic/Gotham-LightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/gotham-light-italic/Gotham-LightItalic.otf") format("opentype"), url("../fonts/gotham-light-italic/Gotham-LightItalic.woff") format("woff"), url("../fonts/gotham-light-italic/Gotham-LightItalic.ttf") format("truetype"), url("../fonts/gotham-light-italic/Gotham-LightItalic.svg#Gotham-LightItalic") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Gotham-Book';
  src: url("../fonts/gotham-book/Gotham-Book.eot?#iefix") format("embedded-opentype"), url("../fonts/gotham-book/Gotham-Book.otf") format("opentype"), url("../fonts/gotham-book/Gotham-Book.woff") format("woff"), url("../fonts/gotham-book/Gotham-Book.ttf") format("truetype"), url("../fonts/gotham-book/Gotham-Book.svg#Gotham-Book") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Gotham-MediumItalic';
  src: url("../fonts/gotham-medium-italic/Gotham-MediumItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/gotham-medium-italic/Gotham-MediumItalic.otf") format("opentype"), url("../fonts/gotham-medium-italic/Gotham-MediumItalic.woff") format("woff"), url("../fonts/gotham-medium-italic/Gotham-MediumItalic.ttf") format("truetype"), url("../fonts/gotham-medium-italic/Gotham-MediumItalic.svg#Gotham-MediumItalic") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Gotham-Black';
  src: url("../fonts/gotham-black/Gotham-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/gotham-black/Gotham-Black.otf") format("opentype"), url("../fonts/gotham-black/Gotham-Black.woff") format("woff"), url("../fonts/gotham-black/Gotham-Black.ttf") format("truetype"), url("../fonts/gotham-black/Gotham-Black.svg#Gotham-Black") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Gotham-Thin';
  src: url("../fonts/gotham-thin/Gotham-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/gotham-thin/Gotham-Thin.otf") format("opentype"), url("../fonts/gotham-thin/Gotham-Thin.woff") format("woff"), url("../fonts/gotham-thin/Gotham-Thin.ttf") format("truetype"), url("../fonts/gotham-thin/Gotham-Thin.svg#Gotham-Thin") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Gotham-Medium';
  src: url("../fonts/gotham-medium/Gotham-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/gotham-medium/Gotham-Medium.otf") format("opentype"), url("../fonts/gotham-medium/Gotham-Medium.woff") format("woff"), url("../fonts/gotham-medium/Gotham-Medium.ttf") format("truetype"), url("../fonts/gotham-medium/Gotham-Medium.svg#Gotham-Medium") format("svg");
  font-weight: normal;
  font-style: normal; }
.agegate {
  opacity: 1; }
  .agegate .formholder {
    width: 100%;
    max-width: 1024px;
    height: 530px;
    background: url("../images/bg-agegate.jpg") no-repeat;
    margin: 0;
    float: left;
    color: #FFFFFF; }
    .agegate .formholder .form-content {
      width: 280px;
      margin: 20px auto 0 auto; }
    .agegate .formholder .logo {
      background: url("../images/logo-white.svg") no-repeat;
      width: 311px;
      height: 75px;
      margin: 70px auto 0 auto; }
    .agegate .formholder .errorText {
      margin: 10px auto;
      display: none; }
    .agegate .formholder .dateHolder {
      width: 240px;
      margin: 10px auto 20px auto;
      overflow: auto;
      padding: 0 0 0 40px; }
      .agegate .formholder .dateHolder .input {
        float: left;
        margin: 5px 10px 0 0;
        position: relative; }
        .agegate .formholder .dateHolder .input .error {
          background: url("../images/error-input.png") no-repeat;
          width: 27px;
          height: 21px;
          position: absolute;
          top: 7px;
          right: -22px;
          z-index: 99;
          display: none;
          /*&.show{
          	display: block;
          }*/ }
      .agegate .formholder .dateHolder .input-date-2 {
        width: 60px;
        height: 37px;
        background: url("../images/bg-input2.svg") no-repeat;
        border: none;
        line-height: 37px;
        text-align: center; }
      .agegate .formholder .dateHolder .input-date-4 {
        width: 60px;
        height: 37px;
        background: url("../images/bg-input2.svg") no-repeat;
        border: none;
        line-height: 37px;
        text-align: center;
        float: left; }
    .agegate .formholder .rememberme {
      width: 200px;
      height: 30px;
      margin: 20px auto 0 auto; }
    .agegate .formholder p {
      /*width: 240px;*/
      clear: left;
      margin: 0 auto;
      text-align: center; }
    .agegate .formholder .btn {
      margin: 30px auto 0 auto; }
    .agegate .formholder .btn-enter {
      background: url("../images/btn-enter.svg") no-repeat;
      width: 61px;
      height: 51px;
      display: block;
      font-family: 'Gotham-MediumItalic';
      font-size: 12px;
      line-height: 51px;
      text-decoration: none;
      color: #FFFFFF;
      padding: 0 0 0 23px;
      margin: 20px auto; }
  .agegate .legal {
    width: 100%;
    font-family: 'Gotham-Medium';
    font-size: 18px;
    text-align: center; }

.show {
  display: block !important; }

.header {
  width: 100%;
  max-width: 1024px;
  height: 60px;
  background: #FFFFFF;
  border-bottom: 1px solid #000000;
  margin: 0 auto;
  /* NAV */
  /* end NAV */
  /* SOCIAL */
  /* end SOCIAL */ }
  .header .logo {
    background: url("../images/logo.svg") no-repeat;
    width: 132px;
    height: 32px;
    float: left;
    margin: 10px; }
  .header .hamburger {
    background: url("../images/hamburger.svg") no-repeat center center;
    width: 25px;
    height: 25px;
    float: right;
    margin: 12px 20px 0 0;
    cursor: pointer; }
    .header .hamburger.open {
      background: url("../images/btn-close-menu.svg") no-repeat; }
  .header .nav {
    float: left;
    margin: 20px 0 20px 20px;
    z-index: 2999; }
    @media screen and (max-width: 1023px) {
      .header .nav {
        width: 100%;
        height: 100%;
        background: #000000;
        position: absolute;
        margin: 0;
        top: 60px;
        display: none; } }
    .header .nav.open {
      display: block; }
    .header .nav ul {
      list-style: none;
      margin: 0;
      padding: 0;
      float: left; }
      .header .nav ul:nth-child(0) {
        margin: 0 0 0 30px; }
      @media screen and (max-width: 1023px) {
        .header .nav ul {
          float: none; } }
      .header .nav ul li {
        float: left;
        margin: 0 0 0 45px; }
        @media screen and (max-width: 1023px) {
          .header .nav ul li {
            font-family: 'Gotham-Black';
            width: 320px;
            float: none;
            text-align: center;
            height: 30px;
            background: url("../images/dot-small.svg") no-repeat;
            background-position: center 23px;
            background-size: 7px 7px;
            margin: 20px auto 0 auto; }
            .header .nav ul li:last-child {
              background: none; } }
        .header .nav ul li a {
          color: #000000;
          text-decoration: none;
          font-family: 'Gotham-Light';
          font-size: 12px;
          text-transform: uppercase;
          -moz-transition: color 0.3s;
          -webkit-transition: color 0.3s;
          transition: color 0.3s; }
          .header .nav ul li a:hover, .header .nav ul li a.active {
            color: #f47a20; }
          @media screen and (max-width: 1023px) {
            .header .nav ul li a {
              color: #FFFFFF; } }
  .header .social {
    float: right;
    margin: 20px 20px 20px 0; }
    .header .social .social-icon {
      width: 14px;
      height: 14px;
      float: left;
      margin: 0 0 0 10px;
      cursor: pointer; }
    .header .social .icon-facebook {
      background: url("../images/icon-facebook.svg") no-repeat center center; }
      .header .social .icon-facebook:hover {
        background: url("../images/icon-facebook-orange.svg") no-repeat center center; }
    .header .social .icon-twitter {
      background: url("../images/icon-twitter.svg") no-repeat center center; }
      .header .social .icon-twitter:hover {
        background: url("../images/icon-twitter-orange.svg") no-repeat center center; }
    .header .social .icon-instagram {
      background: url("../images/icon-instagram.svg") no-repeat center center;
      background-size: contain; }
      .header .social .icon-instagram:hover {
        background: url("../images/icon-instagram-orange.svg") no-repeat center center;
        background-size: contain; }

.home {
  opacity: 0; }
  .home .desktop {
    display: block; }
    @media screen and (max-width: 1042px) {
      .home .desktop {
        display: none; } }
  .home .mobile {
    display: none; }
    @media screen and (max-width: 1042px) {
      .home .mobile {
        display: block; } }
  .home .featured {
    width: 290px;
    height: 470px;
    float: left;
    color: #FFFFFF;
    text-align: center;
    /* transition: background-size 0.5s;
     background-size: 105%;
     
     &:hover{
         background-size: 100%;
     }*/ }
    .home .featured .featured-copy {
      margin: 250px 0 0 0;
      pointer-events: none; }
      .home .featured .featured-copy h3 {
        text-transform: uppercase; }
      @media screen and (max-width: 1042px) {
        .home .featured .featured-copy {
          /*margin: 45% 0 0 0; */
          display: table-cell;
          vertical-align: middle; } }
    .home .featured h3 {
      font-family: 'Gotham-Black';
      margin: 0 0 3px 0; }
    .home .featured h4 {
      font-family: 'Gotham-LightItalic';
      margin: 3px 0 0 0; }
  .home .featured-cocktail {
    /*background: url('../images/home-featured-cocktail.jpg') no-repeat;*/ }
  .home .featured-bartender {
    /*background: url('../images/home-featured-bartender.jpg') no-repeat;*/ }
  .home .center {
    float: left;
    width: 444px; }
    @media screen and (max-width: 1042px) {
      .home .center {
        float: none;
        width: 100%; } }
    .home .center .logo {
      background: url("../images/logo.svg") no-repeat;
      width: 311px;
      height: 75px;
      margin: 55px auto 20px auto; }
      @media screen and (max-width: 1042px) {
        .home .center .logo {
          width: 300px; } }
    .home .center .copy {
      width: 350px;
      margin: 0 auto;
      text-align: center; }
      @media screen and (max-width: 480px) {
        .home .center .copy {
          width: 90%; } }
    .home .center .CTA {
      /*background: url("../images/bg-lines.jpg") no-repeat center center;*/
      width: 444px;
      height: 120px;
      margin: 30px 0 0 0;
      float: left;
      /*@include bp($mobile){
      	height: 215px;
      }*/ }
      @media screen and (max-width: 1042px) {
        .home .center .CTA {
          width: 100%; } }
      .home .center .CTA .btns {
        				/*width: 335px;
            			margin: 30px auto 0 auto;
            			@include bp($mobile){
        					width: 151px;
        				}
        				
        				a{
        					float: left;
        					margin: 0;
        				}
        				p{
        					width: 30px;
        					float: left;
        					text-align: center;
        					line-height: 41px;
        					@include bp($mobile){ 
        						float: none;
        						width: 100%;
        					}
        				}*/ }
        @media screen and (max-width: 1042px) {
          .home .center .CTA .btns {
            width: 430px;
            margin: 0 auto; } }
        @media screen and (max-width: 480px) {
          .home .center .CTA .btns {
            width: 310px; } }
        .home .center .CTA .btns .btn-big-square {
          width: 200px;
          height: 120px;
          background: url("../images/bg-lines.jpg");
          float: left;
          margin: 0 0 0 14px;
          text-decoration: none;
          position: relative; }
          @media screen and (max-width: 480px) {
            .home .center .CTA .btns .btn-big-square {
              width: 150px;
              margin: 0 0 0 3px; } }
          .home .center .CTA .btns .btn-big-square .icon {
            width: 40px;
            height: 40px;
            margin: 20px auto 10px auto; }
            @media screen and (max-width: 480px) {
              .home .center .CTA .btns .btn-big-square .icon {
                margin: 10px auto 5px auto; } }
          .home .center .CTA .btns .btn-big-square p {
            font-family: "Gotham-Black";
            font-size: 15px;
            letter-spacing: 4px;
            text-transform: uppercase;
            color: #000000;
            text-align: center;
            text-decoration: none; }
            @media screen and (max-width: 480px) {
              .home .center .CTA .btns .btn-big-square p {
                font-size: 12px; } }
  .home .mobile .featured {
    width: 50%;
    text-align: center;
    display: table; }
  .home .mobile .featured-cocktail {
    /*background: url('../images/home-featured-cocktail-mobile.jpg') no-repeat;*/
    background-size: contain; }
  .home .mobile .featured-bartender {
    /*background: url('../images/home-featured-bartender-mobile.jpg') no-repeat;*/
    background-size: contain; }

.bartenders {
  width: 100%;
  background: url("../images/bg-lines.jpg"); }
  .bartenders .featured {
    /*background: url('../images/bartender-dom-large.jpg') no-repeat;*/
    width: 100%;
    height: 600px;
    position: relative; }
    @media screen and (max-width: 1023px) {
      .bartenders .featured {
        background: url("../images/bartender-dom-small.jpg") no-repeat;
        background-size: contain; } }
    .bartenders .featured .featured-tag {
      position: absolute;
      top: 7%;
      left: 0;
      background: url("../images/featured-tag.png") no-repeat;
      width: 90px;
      height: 90px; }
    .bartenders .featured .featured-info {
      background: url("../images/featured-bartender-info.png") no-repeat;
      width: 230px;
      height: 230px;
      margin: 140px auto 0 auto;
      overflow: auto; }
      @media screen and (max-width: 1023px) {
        .bartenders .featured .featured-info {
          background: rgba(0, 0, 0, 0.4);
          width: 100%;
          height: 140px;
          overflow: visible;
          position: absolute;
          bottom: 0;
          margin: 0; } }
      .bartenders .featured .featured-info .name {
        font-family: 'Gotham-Black';
        font-size: 20px;
        color: #FFFFFF;
        width: 100%;
        margin: 70px auto 0 auto;
        text-align: center;
        line-height: 22px;
        float: left;
        text-transform: uppercase; }
        @media screen and (max-width: 1023px) {
          .bartenders .featured .featured-info .name {
            margin: 20px auto 0 auto;
            float: none; } }
      @media screen and (max-width: 1023px) {
        .bartenders .featured .featured-info .btn-readmore-white {
          margin: 10px auto 0 auto; } }
  .bartenders .bartenders-list {
    width: 980px;
    /*background: white;*/
    margin: -30px auto 0 auto;
    padding: 4px;
    overflow: auto;
    position: relative; }
    @media screen and (max-width: 1023px) {
      .bartenders .bartenders-list {
        width: 100%; } }
    .bartenders .bartenders-list .bartender {
      /*width: 480px;*/
      width: 50%;
      /*height: 240px;*/
      float: left;
      display: table;
      cursor: pointer;
      			/*&:nth-child(1){
      				border-left: 4px solid $white;
      				border-top: 4px solid $white;
                      width: 50%;
      				width: -webkit-calc(50% - 4px);
      				width: -moz-calc(50% - 4px);
      				width: calc(50% - 4px);
      				@include bp($tablet){
      					border-left: none;
      					width: 50%;
      				}
      				@include bp ($mobile){
      					width: 100%;
      				}
      				
      			}
      			&:nth-child(2){
      				border-right: 4px solid $white;
      				border-top: 4px solid $white;
                      width: 50%;
      				width: -webkit-calc(50% - 4px);
      				width: -moz-calc(50% - 4px);
      				width: calc(50% - 4px);
      				@include bp($tablet){
      					border-right: none;
      					width: 50%;
      				}
      				@include bp ($mobile){
      					width: 100%; 
      				}
      			}*/
      /*img{*/ }
      @media screen and (max-width: 480px) {
        .bartenders .bartenders-list .bartender {
          width: 100%; } }
      .bartenders .bartenders-list .bartender .bartender-pic {
        float: left;
        /*width: 240px;
        height: 240px;*/
        width: 50%; }
      .bartenders .bartenders-list .bartender.right {
        /*img{*/ }
        .bartenders .bartenders-list .bartender.right .bartender-pic {
          float: right; }
      .bartenders .bartenders-list .bartender.center {
        margin: 0 0 0 25%; }
        @media screen and (max-width: 480px) {
          .bartenders .bartenders-list .bartender.center {
            margin: 0; } }
      .bartenders .bartenders-list .bartender .bartender-info {
        /*width: 240px;
        height: 240px;*/
        width: 50%;
        background: url("../images/bartender-info.svg") no-repeat;
        background-size: contain;
        float: left;
        text-align: center;
        position: relative;
        min-height: 100%;
        display: table-cell;
        vertical-align: middle; }
        .bartenders .bartenders-list .bartender .bartender-info .bt-content {
          display: table-cell; }
        .bartenders .bartenders-list .bartender .bartender-info .name {
          font-family: 'Gotham-Black';
          font-size: 14px;
          line-height: 16px;
          text-align: center;
          margin: 35% auto 0 auto;
          text-transform: uppercase;
          width: 80%; }

.bartenders-detail #carousel-item-holder {
  height: 530px; }
.bartenders-detail .col-left, .bartenders-detail .col-right {
  width: 310px;
  height: 380px;
  float: left;
  font-family: 'Gotham-Light'; }
  .bartenders-detail .col-left b, .bartenders-detail .col-right b {
    font-family: 'Gotham-Medium';
    display: block;
    margin: 10px 0 15px 0; }
  @media screen and (max-width: 1023px) {
    .bartenders-detail .col-left, .bartenders-detail .col-right {
      height: auto;
      width: 100%; } }
@media screen and (max-width: 1023px) {
  .bartenders-detail .col-holder {
    width: 90%;
    margin: 0 auto; } }
.bartenders-detail .col-left {
  margin: 40px 0 0 170px; }
  @media screen and (max-width: 1023px) {
    .bartenders-detail .col-left {
      margin: 40px 0 0 10px; } }
.bartenders-detail .col-right {
  margin: 40px 0 0 0; }
  @media screen and (max-width: 1023px) {
    .bartenders-detail .col-right {
      margin: 0px 0 0 10px; } }
.bartenders-detail .vertical-divider {
  width: 2px;
  height: 380px;
  border-left: 1px solid #cccccc;
  float: left;
  margin: 40px 30px 0 30px; }
  @media screen and (max-width: 1023px) {
    .bartenders-detail .vertical-divider {
      display: none; } }
.bartenders-detail .follow-social {
  background: url("../images/bg-lines.jpg") no-repeat;
  width: 100%;
  height: 65px;
  float: left;
  margin: 20px 0 0 0; }
  .bartenders-detail .follow-social .social-links {
    margin: 12px auto 0 auto;
    width: 260px; }
  .bartenders-detail .follow-social .instruction {
    font-family: 'Gotham-black';
    text-transform: uppercase;
    line-height: 43px;
    float: left; }
  .bartenders-detail .follow-social .icon {
    width: 43px;
    height: 43px;
    float: left;
    margin: 0 0 0 10px;
    -moz-transition: margin 0.3s;
    -webkit-transition: margin 0.3s;
    transition: margin 0.3s; }
    .bartenders-detail .follow-social .icon:hover {
      margin: -3px 0 0 10px; }
  .bartenders-detail .follow-social .icon-facebook {
    background: url("../images/social-facebook.svg") no-repeat; }
  .bartenders-detail .follow-social .icon-twitter {
    background: url("../images/social-twitter.svg") no-repeat; }
  .bartenders-detail .follow-social .icon-instagram {
    background: url("../images/social-instagram.svg") no-repeat; }

.carousel-holder .head {
  width: 100%;
  height: 600px;
  /*background: url('../images/bartender-domenico-large.jpg') no-repeat;*/
  /*background-position: 0 30px;*/
  position: relative; }
  .carousel-holder .head .slide-indicator {
    font-family: 'Gotham-Book';
    font-size: 16px;
    position: absolute;
    width: 50px;
    bottom: 15px;
    left: 50%;
    margin: 0 0 0 -25px;
    text-align: center; }
  .carousel-holder .head .btn-left {
    width: 75px;
    height: 75px;
    background: #FFFFFF url("../images/btn-arrow-left.svg") no-repeat;
    position: absolute;
    bottom: 0;
    left: 0;
    cursor: pointer;
    -moz-transition: background-color 0.3s;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s; }
    .carousel-holder .head .btn-left:hover, .carousel-holder .head .btn-left.hover {
      background: #f47a20 url("../images/btn-arrow-left-white.svg") no-repeat; }
      @media screen and (max-width: 1023px) {
        .carousel-holder .head .btn-left:hover, .carousel-holder .head .btn-left.hover {
          background: #FFFFFF url("../images/btn-arrow-left.svg") no-repeat; } }
    @media screen and (max-width: 480px) {
      .carousel-holder .head .btn-left {
        width: 40px;
        height: 40px;
        background-size: contain; } }
  .carousel-holder .head .btn-right {
    width: 75px;
    height: 75px;
    background: #FFFFFF url("../images/btn-arrow-right.svg") no-repeat;
    position: absolute;
    bottom: 0;
    right: 0;
    cursor: pointer;
    -moz-transition: background-color 0.3s;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s; }
    @media screen and (max-width: 480px) {
      .carousel-holder .head .btn-right {
        width: 40px;
        height: 40px;
        background-size: contain; } }
    .carousel-holder .head .btn-right:hover, .carousel-holder .head .btn-right.hover {
      background: #f47a20 url("../images/btn-arrow-right-white.svg") no-repeat; }
      @media screen and (max-width: 1023px) {
        .carousel-holder .head .btn-right:hover, .carousel-holder .head .btn-right.hover {
          background: #FFFFFF url("../images/btn-arrow-right.svg") no-repeat; } }
.carousel-holder .carousel-item {
  display: none; }
.carousel-holder .name {
  font-family: 'Gotham-Black';
  font-size: 16px;
  text-align: center;
  margin: 18px 0 0 0;
  text-transform: uppercase; }
.carousel-holder .divider {
  background: url("../images/divider-black.svg") no-repeat;
  width: 100%;
  height: 7px;
  float: left;
  background-position: center;
  margin: 10px 0 0 0; }

.drinks {
  /*opacity: 1;*/ }
  .drinks .drinks-header {
    margin: 50px 0 0 0;
    background: url("../images/bg-lines.jpg");
    background-position: 0 50px;
    width: 100%;
    height: 210px;
    float: left; }
    .drinks .drinks-header h1 {
      margin: -50px auto 0 auto; }
    .drinks .drinks-header p {
      margin: 20px auto 0 auto;
      text-align: center; }
  .drinks .drinks-list {
    background: #000000;
    width: 100%;
    max-width: 960px;
    /*background: white;*/
    margin: -30px 0 0 25px;
    float: left;
    /*padding: 4px;*/
    overflow: auto;
    position: relative; }
    @media screen and (max-width: 1023px) {
      .drinks .drinks-list {
        width: 100%;
        margin: -30px 0 0 0; } }
    .drinks .drinks-list .drink {
      /*width: 480px;*/
      width: 50%;
      /*height: 240px;*/
      float: left;
      position: relative;
      cursor: pointer;
      /*&:nth-child(1){
      	border-left: 4px solid $white;
      	border-top: 4px solid $white;
      }
      &:nth-child(2){
      	border-right: 4px solid $white;
      	border-top: 4px solid $white;
      }*/ }
      @media screen and (max-width: 800px) {
        .drinks .drinks-list .drink {
          width: 100%; } }
      .drinks .drinks-list .drink .drink-pic {
        width: 51%;
        height: 100%;
        float: right; }
      .drinks .drinks-list .drink img {
        /*float: right;*/
        /*width: 51%;
        height: 100%;*/ }
      .drinks .drinks-list .drink.center {
        margin: 0 0 0 240px; }
      .drinks .drinks-list .drink .drink-info {
        position: absolute;
        width: 52%;
        				/*width: 250px;
        				height: 240px;
                        
        				width: -webkit-calc(50% + 10px);
        				width: -moz-calc(50% + 10px);
        				width: calc(50% + 10px); */
        height: 100%;
        background: url("../images/drink-info-left.svg") no-repeat;
        background-size: cover;
        /*float: left;*/
        text-align: center;
        z-index: 99;
        left: 0;
        top: 0;
        display: table; }
        .drinks .drinks-list .drink .drink-info .name {
          font-family: 'Gotham-Black';
          color: #FFFFFF;
          font-size: 14px;
          line-height: 16px;
          text-align: center;
          /*margin: 60px 0 0 0;*/
          margin: 0 auto;
          text-transform: uppercase;
          position: relative;
          width: 90%;
          max-width: 200px; }
        .drinks .drinks-list .drink .drink-info a {
          margin: 20px auto 0 auto; }
        .drinks .drinks-list .drink .drink-info .drink-info-holder {
          display: table-cell;
          vertical-align: middle; }
      .drinks .drinks-list .drink.right .drink-pic {
        float: left; }
      .drinks .drinks-list .drink.right .drink-info {
        background: url("../images/drink-info-right.svg") no-repeat;
        background-size: cover;
        /*left: 230px;*/
        left: 48%; }

.drinks-detail .carousel-holder {
  position: relative;
  overflow: hidden; }
  .drinks-detail .carousel-holder .carousel-item {
    display: block; }
  .drinks-detail .carousel-holder #carouselItem-carousel {
    color: #FFFFFF;
    position: absolute;
    top: 200px;
    left: 40px; }
    @media screen and (max-width: 1023px) {
      .drinks-detail .carousel-holder #carouselItem-carousel {
        position: relative;
        top: auto;
        left: auto;
        color: #000000; } }
    .drinks-detail .carousel-holder #carouselItem-carousel .name-area {
      background: none;
      float: none;
      height: auto;
      width: 300px;
      text-align: center;
      margin: 0 auto; }
      .drinks-detail .carousel-holder #carouselItem-carousel .name-area #divider {
        margin: 12px auto 0 auto; }
  .drinks-detail .carousel-holder .head {
    /*height: 535px;*/ }
  .drinks-detail .carousel-holder .name-area {
    background: url("../images/bg-lines.jpg");
    height: 75px;
    float: left;
    width: 100%; }
  .drinks-detail .carousel-holder .instructions {
    width: 100%;
    text-align: center;
    margin: 20px auto;
    float: left; }
    .drinks-detail .carousel-holder .instructions p {
      max-width: 380px;
      margin: 0 auto; }

.bars .bars-header {
  width: 100%;
  height: 485px;
  /*background: url("../images/bg-lines.jpg") no-repeat;*/
  /*background-position: 0 50px;*/
  position: relative;
  margin: 0 0 40px 0;
  /*@include bp($mobile){
  	height: 180px;
  }*/ }
  .bars .bars-header #bar-video {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 40px; }
.bars .buttons-holder {
  background: url("../images/bg-lines.jpg") no-repeat;
  background-position-y: 107px;
  height: 280px; }
.bars .bar-buttons {
  width: 970px;
  overflow: auto;
  margin: -20px auto 0 auto;
  overflow: hidden;
  height: 300px; }
.bars .btn-bar {
  width: 238px;
  height: 238px;
  position: relative;
  display: table;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  float: left;
  margin: 0 0 0 5px; }
  .bars .btn-bar.reserve {
    width: 230px;
    height: 230px;
    background-image: url("../images/btn-bar-reserve.png");
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -80px 0 0 -115px; }
    .bars .btn-bar.reserve .btn-content p {
      font-size: 20px; }
  .bars .btn-bar.gauteng {
    background-image: url("../images/btn-bar-gauteng.png");
    margin-left: 0; }
  .bars .btn-bar.wc {
    background-image: url("../images/btn-bar-wc.png"); }
  .bars .btn-bar.kzn {
    background-image: url("../images/btn-bar-kzn.png"); }
  .bars .btn-bar.all {
    background-image: url("../images/btn-bar-all.png"); }
  .bars .btn-bar .btn-content {
    display: table-cell;
    vertical-align: middle;
    width: 150px;
    height: 150px; }
    .bars .btn-bar .btn-content p {
      font-family: 'Gotham-Black';
      font-size: 14px;
      text-transform: uppercase;
      color: #FFFFFF; }
    .bars .btn-bar .btn-content .province-name {
      color: #f47a20; }
    .bars .btn-bar .btn-content .btn-readmore-white {
      margin: 20px auto 0 auto; }
.bars .map {
  background: url("../images/map-bars.jpg") no-repeat;
  height: 565px;
  width: 1024px;
  position: relative;
  left: 50%;
  margin: 0 0 0 -512px;
  /*.dropdown{
  	background: url("../images/WorldClassBars_DropDown_Closed.svg") no-repeat;
  	width: 216px;
  	height: 52px;
  	margin: -25px 0 0 290px;
  	float: left;
  	
  	@include bp($mobile){
  		margin: -80px 0 0 -108px;
  		position: relative;
  		float: left;
  		left: 50%;
  	}
  	
  	&.open{
  		height: 207px;
  		background: url("../images/WorldClassBars_DropDown_Open.svg") no-repeat; 
  		z-index: 999;
  		position: relative;
  	}
  	a{
  		text-decoration: none;
  	}
  }
  .dropdown-reserve{
  	background: url("../images/ReserveClubBars_DropDown_Closed.svg") no-repeat;
  	width: 216px;
  	height: 52px;
  	margin: -25px 0 0 10px;
  	float: left;
  	@include bp($mobile){
  		margin: -20px 0 0 -108px;
  		position: relative;
  		float: left;
  		left: 50%;
  	}
  	
  	&.open{
  		height: 207px;
  		z-index: 999;
  		position: relative;
  		background: url("../images/ReserveClubBars_DropDown_Open.svg") no-repeat; 
  	}
  	a{
  		text-decoration: none;
  	}
  }
  .btn-dropdown{
  	font-family: 'Gotham-MediumItalic';
  	color: $white;
  	line-height: 52px;
  	padding: 0 0 0 20px;
  	cursor: pointer;
  	text-transform: uppercase;
  }
  
  .btn-dropdown-option{
  	font-family: 'Gotham-Light';
  	color: $white;
  	line-height: 16px;
  	width: 100%;
  	height: 16px;
  	text-align: center;
  	cursor: pointer;
  	text-transform: uppercase;
  	margin: 24px 0 0 0;
  	display: none;
  	&:hover{
  		font-family: 'Gotham-Medium';
  	}
  	&.open{
  		display: block;
  	}
  	
  }*/ }
  @media screen and (max-width: 480px) {
    .bars .map {
      width: 512px;
      height: 280px;
      background-size: contain;
      margin: 0 0 0 -256px; } }
  .bars .map .map-pin-bar {
    background: url("../images/map-pin-orange.svg") no-repeat;
    width: 40px;
    height: 60px;
    position: absolute; }
    @media screen and (max-width: 480px) {
      .bars .map .map-pin-bar {
        width: 20px;
        height: 30px;
        background-size: contain; } }
  .bars .map .map-pin-reserve {
    background: url("../images/map-pin-black.svg") no-repeat;
    width: 40px;
    height: 60px;
    position: absolute; }
    @media screen and (max-width: 480px) {
      .bars .map .map-pin-reserve {
        width: 20px;
        height: 30px;
        background-size: contain; } }
  .bars .map #pin-gauteng {
    top: 150px;
    left: 570px; }
    @media screen and (max-width: 480px) {
      .bars .map #pin-gauteng {
        top: 75px;
        left: 280px; } }
  .bars .map #pin-reserve-gauteng {
    top: 125px;
    left: 600px; }
    @media screen and (max-width: 480px) {
      .bars .map #pin-reserve-gauteng {
        top: 63px;
        left: 300px; } }
  .bars .map #pin-KZN {
    top: 286px;
    left: 649px; }
    @media screen and (max-width: 480px) {
      .bars .map #pin-KZN {
        top: 143px;
        left: 325px; } }
  .bars .map #pin-reserve-kzn {
    top: 305px;
    left: 615px; }
    @media screen and (max-width: 480px) {
      .bars .map #pin-reserve-kzn {
        top: 153px;
        left: 308px; } }
  .bars .map #pin-cape {
    top: 403px;
    left: 309px; }
    @media screen and (max-width: 480px) {
      .bars .map #pin-cape {
        top: 201px;
        left: 155px; } }
  .bars .map #pin-reserve-cape {
    top: 420px;
    left: 345px; }
    @media screen and (max-width: 480px) {
      .bars .map #pin-reserve-cape {
        top: 206px;
        left: 172px; } }
  .bars .map #gauteng {
    margin: -5px 0 0 0; }

#btn-dropdown-reserve {
  padding: 0;
  text-align: center; }

.barview {
  color: #FFFFFF;
  /*.carouselItem-carousel{
  	position: absolute;
  	top: 0;
  	left: 0;
  }*/ }
  .barview .bars-header {
    /*height: 130px;
    background: url("../images/bg-lines.jpg") no-repeat;
    background-position: 0 50px;
    
    @include bp($mobile){
    	height: 180px;
    }*/ }
  .barview .btn-left, .barview .btn-right {
    z-index: 99; }
  .barview .carousel-item {
    display: block; }
  .barview .carousel-holder {
    margin: -65px 0 0 0;
    position: relative; }
    .barview .carousel-holder .head {
      /*background: url("../images/bg-bars.jpg") no-repeat;*/
      width: 1024;
      /*height: 475px;*/
      height: 600px; }
    .barview .carousel-holder .dropdown {
      position: absolute;
      top: -30px;
      left: 50%;
      margin: 0 0 0 -220px; }
      @media screen and (max-width: 480px) {
        .barview .carousel-holder .dropdown {
          top: -90px;
          margin: 0 0 0 -108px; } }
      .barview .carousel-holder .dropdown .btn-dropdown {
        margin: 0 0 -24px 0; }
    .barview .carousel-holder .dropdown-reserve {
      position: absolute;
      top: -30px;
      left: 50%;
      margin: 0 0 0 10px; }
      @media screen and (max-width: 480px) {
        .barview .carousel-holder .dropdown-reserve {
          top: -30px;
          margin: 0 0 0 -108px; } }
      .barview .carousel-holder .dropdown-reserve .btn-dropdown {
        margin: 0 0 -24px 0; }
  .barview #carousel {
    overflow: hidden; }
    .barview #carousel .carousel-item {
      margin: 240px 0 0 0;
      float: left;
      /*width: 1024px;*/
      /*height: 475px;*/
      height: 600px; }
      .barview #carousel .carousel-item .name {
        margin: 10px 0;
        font-size: 18px; }
      .barview #carousel .carousel-item .bar-description {
        width: 350px;
        margin: 10px auto 14px auto;
        text-align: center; }
        @media screen and (max-width: 480px) {
          .barview #carousel .carousel-item .bar-description {
            width: 290px; } }
      .barview #carousel .carousel-item a {
        text-decoration: none; }
      .barview #carousel .carousel-item .bar-location {
        max-width: 250px;
        margin: 0 auto;
        /*&:hover{
        	.pin{
        		margin: -5px 0 0 0;
        	}
        }*/ }
        .barview #carousel .carousel-item .bar-location .pin {
          background: url("../images/pin.svg") no-repeat;
          width: 23px;
          height: 36px;
          margin: -3px 0 0 0;
          float: left;
          -moz-transition: margin 0.3s;
          -webkit-transition: margin 0.3s;
          transition: margin 0.3s; }
        .barview #carousel .carousel-item .bar-location .location-divider {
          width: 10px;
          height: 36px;
          border-right: 1px solid #FFFFFF;
          margin: 0 10px 0 0;
          float: left; }
        .barview #carousel .carousel-item .bar-location .location-name {
          text-decoration: none;
          color: #FFFFFF;
          font-family: 'Gotham-Book';
          font-size: 12px; }

#template {
  display: none; }

.competition {
  opacity: 1; }
  .competition .caroufredsel_wrapper {
    z-index: -1; }
  .competition #carousel {
    margin: -67px 0 0 0;
    float: left;
    width: 100%;
    height: 600px;
    position: relative;
    z-index: -1; }
    .competition #carousel img {
      float: left; }
  .competition .comp-name {
    background: url("../images/bg-lines.jpg") no-repeat;
    height: 95px;
    width: 100%;
    float: left; }
    .competition .comp-name .name {
      font-family: 'Gotham-Black';
      text-align: center;
      margin: 10px auto 0 auto;
      width: 95%; }
    .competition .comp-name .divider-black {
      margin: 10px auto 0 auto; }
  .competition .col-left {
    width: 330px;
    margin: 30px 0 0 150px;
    float: left; }
    @media screen and (max-width: 1023px) {
      .competition .col-left {
        width: 90%;
        margin: 30px 0 0 10px; } }
  .competition .v-divider {
    margin: 30px 0 0 0;
    width: 40px;
    height: 128px;
    border-right: 1px solid #cccccc;
    float: left; }
    @media screen and (max-width: 1023px) {
      .competition .v-divider {
        display: none; } }
  .competition .col-right {
    width: 330px;
    margin: 30px 0 0 40px;
    float: left; }
    @media screen and (max-width: 1023px) {
      .competition .col-right {
        width: 90%;
        margin: 20px 0 0 10px; } }
  .competition .compwinner {
    margin: 30px 0 0 0;
    float: left;
    background: url("../images/bg-lines.jpg");
    height: 512px;
    width: 100%;
    position: relative; }
    @media screen and (max-width: 1023px) {
      .competition .compwinner {
        height: 965px; } }
    .competition .compwinner .winner-img {
      background: url("../images/competition-winner.jpg") no-repeat;
      width: 100%;
      max-width: 512px;
      /*height: 512px;*/
      background-size: contain; }
      @media screen and (max-width: 1023px) {
        .competition .compwinner .winner-img {
          margin: 0 auto; } }
    .competition .compwinner .winner-copy {
      background: url("../images/winner-copy-desktop.jpg") no-repeat;
      width: 512px;
      height: 450px;
      position: absolute;
      right: 25px;
      top: 25px; }
      @media screen and (max-width: 1023px) {
        .competition .compwinner .winner-copy {
          margin: -25px auto 0 auto;
          position: relative;
          right: 0;
          top: 0; } }
      @media screen and (max-width: 800px) {
        .competition .compwinner .winner-copy {
          background: url("../images/winner-copy-mobile.jpg") no-repeat;
          width: 294px; } }

.spirits {
  position: relative;
  opacity: 0; }
  .spirits h1 {
    z-index: 99;
    position: relative; }
  .spirits .spirit-container {
    background: url("../images/spirits.jpg") no-repeat;
    width: 1024px;
    height: 555px;
    position: relative;
    margin: -20px 0 0 0;
    /*z-index: -1;*/ }
    .spirits .spirit-container.virtualMixology {
      margin: 40px 0 0 0; }
    .spirits .spirit-container .mask {
      /*background: url("../images/brands-mask.png") no-repeat;*/
      width: 1024px;
      height: 555px;
      position: absolute;
      /*z-index:10;*/
      top: 0;
      left: 0;
      display: none;
      background-position: -880px 0;
      -moz-transition: background-position 0.3s;
      -webkit-transition: background-position 0.3s;
      transition: background-position 0.3s;
      /*background-position: -750px 0;*/
      /*background-position: -620px 0;*/
      /*background-position: -500px 0;*/
      /*background-position: -390px 0;*/
      /*background-position: -285px 0;*/
      /*background-position: -170px 0;*/
      /*background-position: -50px 0;*/ }
    .spirits .spirit-container .btn-info, .spirits .spirit-container .btn-add {
      font-family: 'Gotham-MediumItalic';
      color: #FFFFFF;
      width: 30px;
      height: 30px;
      background: url("../images/btn-readmore-white-spirits.svg") no-repeat;
      background-position: 0 0;
      padding: 35px 0 0 0;
      position: absolute;
      top: 160px;
      left: 120px;
      opacity: 0;
      -moz-transition: opacity 0.3s;
      -webkit-transition: opacity 0.3s;
      transition: opacity 0.3s;
      cursor: pointer; }
      .spirits .spirit-container .btn-info:hover, .spirits .spirit-container .btn-add:hover {
        background: url("../images/btn-readmore-orange-spirits.svg") no-repeat;
        background-position: 0 0; }
  .spirits .info-holder {
    width: 100%;
    /*height: 295px;*/
    height: 40px;
    background: url("../images/bg-lines-spirits.jpg") no-repeat;
    transition: height 0.4s;
    /*-moz-transition: height 0.4s;
    -webkit-transition: height 0.4s;*/ }
    .spirits .info-holder.open {
      height: 295px; }
    .spirits .info-holder .info {
      width: 628px;
      height: 0px;
      background: url("../images/bg-spirit-info.svg") no-repeat;
      float: left;
      margin: -30px 0 0 200px;
      z-index: 99;
      position: relative;
      opacity: 0;
      -moz-transition: opacity 0.5s;
      -webkit-transition: opacity 0.5s;
      transition: opacity 0.5s; }
      .spirits .info-holder .info.open {
        opacity: 1;
        height: 293px; }
      .spirits .info-holder .info .name {
        font-family: 'Gotham-Black';
        width: 100%;
        text-align: center;
        margin: 40px 0 0 0; }
      .spirits .info-holder .info .divider-black {
        margin: 13px auto; }
      .spirits .info-holder .info .description {
        width: 70%;
        text-align: center;
        margin: 0 auto;
        font-family: 'Gotham-Light'; }
      .spirits .info-holder .info .btn-close {
        width: 30px;
        height: 30px;
        background: url("../images/btn-close-orange.svg") no-repeat;
        cursor: pointer;
        position: absolute;
        top: 14px;
        right: 14px; }
        .spirits .info-holder .info .btn-close:hover {
          background: url("../images/btn-close-black.svg") no-repeat; }
    .spirits .info-holder .btn-discover {
      margin: 8px auto 0 auto; }
  .spirits .carouselImage {
    float: left;
    width: 320px;
    height: 320px;
    display: block; }
  .spirits #carousel {
    width: 1023px;
    height: 1023px;
    overflow: hidden; }
  .spirits .carousel-holder {
    position: relative; }
    .spirits .carousel-holder .head {
      background: url("../images/bg-spirits.png") no-repeat;
      width: 100%;
      /*height: 475px;*/ }
    .spirits .carousel-holder.virtualMixology {
      margin: 100px 0 0 0; }
  .spirits .carouselImageHolder {
    float: left; }
  .spirits .caroufredsel_wrapper {
    pointer-events: none; }
  .spirits .description {
    padding: 0 20px;
    margin: 20px 0 0 0;
    font-family: 'Gotham-Light';
    text-align: center;
    min-height: 100px; }
  .spirits .CTA {
    height: 80px;
    width: 100%;
    background: url("../images/bg-lines.jpg") no-repeat;
    float: left; }
    .spirits .CTA .btn-discover, .spirits .CTA .btn-next {
      margin: 20px auto; }

.contact .contact-info {
  background: url("../images/bg-contact.jpg") no-repeat;
  width: 100%;
  height: 475px; }
  .contact .contact-info .contact-details {
    font-family: 'Gotham-Black';
    color: #FFFFFF;
    text-align: center;
    margin: 180px auto 0 auto; }
    .contact .contact-info .contact-details a {
      color: #f47a20;
      text-decoration: none;
      -webkit-transition: color 0.3s;
      -ms-transition: color 0.3s;
      transition: color 0.3s; }
      .contact .contact-info .contact-details a:hover {
        color: #FFFFFF; }
  .contact .contact-info .divider-white {
    margin: 20px auto; }
.contact .social {
  background: url("../images/bg-lines.jpg") no-repeat;
  width: 100%;
  height: 70px;
  float: left; }
  .contact .social .social-icons {
    width: 180px;
    height: 45px;
    margin: 13px auto 0 auto;
    /*.social-icon{
    	width: 43px;
    	height: 43px;
    	float: left;
    	margin: 0 0 0 15px;
    }
    
    .social-facebook{
    	background: url("../images/social-facebook.svg") no-repeat;
    }
    .social-twitter{
    	background: url("../images/social-twitter.svg") no-repeat;
    }*/ }
    .contact .social .social-icons .social-instagram {
      background: url("../images/social-instagram.svg") no-repeat; }

.virtualMixology {
  position: relative;
  /*opacity: 0;*/ }
  .virtualMixology .carousel-holder {
    position: relative;
    		/*float: left;
        	width: 100%;*/
    height: 490px;
    background: url("../images/bg-vm.jpg") no-repeat;
    margin: 40px 0 0 0; }
    .virtualMixology .carousel-holder .glowing-lights-holder {
      width: 100%;
      overflow: hidden;
      float: left;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%; }
    @media screen and (max-width: 480px) {
      .virtualMixology .carousel-holder {
        margin: 100px 0 0 0;
        height: 320px;
        background-position: 0 bottom; } }
    .virtualMixology .carousel-holder .head {
      height: 485px;
      z-index: 99; }
      @media screen and (max-width: 480px) {
        .virtualMixology .carousel-holder .head {
          height: 320px; } }
      .virtualMixology .carousel-holder .head .backLabel {
        width: 75px;
        height: 75px;
        position: absolute;
        bottom: 0;
        left: 75px; }
        .virtualMixology .carousel-holder .head .backLabel.glass {
          background: url("../images/previous_glass.png") no-repeat; }
        .virtualMixology .carousel-holder .head .backLabel.garnish {
          background: url("../images/previous_garnish.png") no-repeat; }
      .virtualMixology .carousel-holder .head .nextLabel {
        width: 75px;
        height: 75px;
        position: absolute;
        right: 75px;
        bottom: 0; }
        .virtualMixology .carousel-holder .head .nextLabel.glass {
          background: url("../images/next_glass.png") no-repeat; }
        .virtualMixology .carousel-holder .head .nextLabel.garnish {
          background: url("../images/next_garnish.png") no-repeat; }
      .virtualMixology .carousel-holder .head .icons-holder {
        position: absolute;
        left: 20px;
        top: 60px; }
        @media screen and (max-width: 480px) {
          .virtualMixology .carousel-holder .head .icons-holder {
            top: 20px; } }
        .virtualMixology .carousel-holder .head .icons-holder .glass-icon {
          position: relative;
          width: 40px;
          height: 40px;
          float: left;
          clear: left;
          margin: 5px 0 0 0; }
          @media screen and (max-width: 480px) {
            .virtualMixology .carousel-holder .head .icons-holder .glass-icon {
              width: 30px;
              height: 30px; } }
          .virtualMixology .carousel-holder .head .icons-holder .glass-icon .icon-label {
            color: #FFFFFF;
            position: absolute;
            top: 15px;
            left: 45px;
            float: left;
            width: 100px;
            font-family: 'Gotham-Light';
            font-size: 10px;
            text-transform: uppercase; }
    .virtualMixology .carousel-holder .mixHolder {
      width: 485px;
      height: 485px;
      position: absolute;
      top: 15px;
      left: 200px; }
      @media screen and (max-width: 1023px) {
        .virtualMixology .carousel-holder .mixHolder {
          left: 50%;
          margin-left: -243px; } }
      @media screen and (max-width: 480px) {
        .virtualMixology .carousel-holder .mixHolder {
          width: 300px;
          height: 300px;
          margin-left: -150px; } }
      .virtualMixology .carousel-holder .mixHolder .bottleHolder {
        position: relative;
        z-index: 0;
        width: 100%;
        height: 100%;
        background-size: contain;
        /*background: red;*/ }
      .virtualMixology .carousel-holder .mixHolder .glassHolder, .virtualMixology .carousel-holder .mixHolder .garnishHolder, .virtualMixology .carousel-holder .mixHolder .colourHolder, .virtualMixology .carousel-holder .mixHolder .bubblesHolder {
        position: absolute;
        top: 0;
        left: 0px;
        z-index: 1;
        width: 100%;
        height: 100%;
        /*background: blue;*/ }
  .virtualMixology .glassDescriptionHolder {
    position: absolute;
    top: 140px;
    right: 135px;
    width: 310px;
    color: #FFFFFF; }
    .virtualMixology .glassDescriptionHolder .glassName {
      font-family: 'Gotham-Black';
      width: 100%;
      text-align: center;
      margin: 0 0 10px 0;
      text-transform: uppercase; }
    .virtualMixology .glassDescriptionHolder .glassDescription {
      margin: 10px 0 0 0;
      font-family: 'Gotham-Light';
      text-align: center; }
      @media screen and (max-width: 1023px) {
        .virtualMixology .glassDescriptionHolder .glassDescription {
          margin: 25px 0 0 0; } }
    .virtualMixology .glassDescriptionHolder.mobile {
      top: auto;
      right: auto;
      width: 80%;
      color: #000000;
      position: relative;
      margin: -46px auto 0 auto;
      right: auto; }
      @media screen and (max-width: 480px) {
        .virtualMixology .glassDescriptionHolder.mobile {
          margin: -30px auto 0 auto; } }
  .virtualMixology .btn-next {
    margin: -30px auto 0 auto;
    z-index: 100;
    position: relative; }
    @media screen and (max-width: 1023px) {
      .virtualMixology .btn-next {
        margin: 10px auto; } }
  .virtualMixology .stripes {
    background: url("../images/bg-lines.jpg") no-repeat;
    width: 100%;
    height: 80px; }
    @media screen and (max-width: 1023px) {
      .virtualMixology .stripes {
        margin: 20px 0 0 0;
        float: left; } }
    .virtualMixology .stripes .btnHolder {
      width: 250px;
      height: 45px;
      position: relative;
      margin: -30px auto 0 auto;
      z-index: 100; }
      @media screen and (max-width: 1023px) {
        .virtualMixology .stripes .btnHolder {
          margin: 10px auto; } }
      .virtualMixology .stripes .btnHolder a {
        position: relative;
        float: left; }
      .virtualMixology .stripes .btnHolder .btn-next {
        margin: 0 0 0 15px; }
    .virtualMixology .stripes .sharedbuttons {
      width: 340px; }
      .virtualMixology .stripes .sharedbuttons a {
        float: left; }
      .virtualMixology .stripes .sharedbuttons .btn-discover {
        margin: 0 0 0 30px; }

.progress {
  font-family: 'Gotham-Light';
  position: absolute;
  top: -35px;
  left: 50%;
  margin-left: -150px;
  width: 350px;
  height: 70px;
  /*padding: 20px;*/
  text-align: center;
  z-index: 2000;
  box-sizing: border-box;
  font-size: 12px;
  /*&.step1{
  	background: url('../images/bg-vm-step1.svg') no-repeat;
  }
  &.step2{
  	background: url('../images/bg-vm-step2.svg') no-repeat;
  }
  &.step3{
  	background: url('../images/bg-vm-step3.svg') no-repeat;
  }
  &.step4{
  	background: url('../images/bg-vm-step4.svg') no-repeat;
  }*/ }
  @media screen and (max-width: 480px) {
    .progress {
      top: -95px; } }
  .progress .progressContent {
    margin: 20px 0 0 20px;
    width: 300px;
    position: relative;
    z-index: 1; }
  .progress.step3 {
    height: 90px; }
  .progress.step5 {
    height: 100px;
    		/*background: url('../images/bg-vm-step5.svg') no-repeat;
            padding: 13px 20px;
            font-size: 13px;*/ }

.virtualMixologyMixers {
  /*.progress{
      height: 90px;
  }*/ }
  .virtualMixologyMixers .carousel-holder {
    float: left;
    width: 100%;
    background: url("../images/bg-vm-mixers.jpg") no-repeat; }
    @media screen and (max-width: 480px) {
      .virtualMixologyMixers .carousel-holder {
        height: 485px; } }
  .virtualMixologyMixers .mixers {
    width: 500px;
    margin: 100px auto 0 auto;
    position: relative;
    /*float: left;*/ }
    @media screen and (max-width: 800px) {
      .virtualMixologyMixers .mixers {
        width: 250px; } }
    .virtualMixologyMixers .mixers .mixer {
      width: 250px;
      float: left; }
  .virtualMixologyMixers .stripes {
    float: left; }
  .virtualMixologyMixers input[type="checkbox"] {
    margin: 0 0 20px 0; }
    @media screen and (max-width: 800px) {
      .virtualMixologyMixers input[type="checkbox"] {
        margin: 0 0 10px 0; } }

.nameHolder {
  position: absolute;
  top: 100px;
  right: 100px;
  width: 280px;
  z-index: 99;
  color: #FFFFFF; }
  @media screen and (max-width: 1023px) {
    .nameHolder {
      position: relative;
      top: auto;
      right: auto;
      margin: -40px auto 0 auto;
      color: #000000; } }
  @media screen and (max-width: 480px) {
    .nameHolder {
      margin: -20px auto 0 auto; } }
  .nameHolder .cocktailName {
    background: url("../images/bg-nameInput.svg") no-repeat;
    width: 280px;
    height: 38px;
    border: none;
    /*padding: 0 0 0 10px;*/
    line-height: 38px;
    margin: 0 0 10px 0;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Gotham-Black';
    color: #000000; }
  .nameHolder .selector {
    position: relative;
    width: 100%;
    height: 29px;
    margin: 10px 0;
    border-bottom: 1px solid #FFFFFF; }
    @media screen and (max-width: 1023px) {
      .nameHolder .selector {
        /*border-bottom: 1px solid $grey;*/ } }
    .nameHolder .selector.namePage {
      border-bottom: none; }
    .nameHolder .selector .addButton {
      background: url("../images/btn-add.svg") no-repeat;
      width: 30px;
      height: 30px;
      position: absolute;
      left: 0;
      cursor: pointer; }
    .nameHolder .selector .subtractButton {
      background: url("../images/btn-subtract.svg") no-repeat;
      width: 30px;
      height: 30px;
      position: absolute;
      right: 0;
      cursor: pointer; }
    .nameHolder .selector .quantity {
      width: 100%;
      text-align: center;
      font-family: 'Gotham-Light';
      font-size: 12px;
      float: left;
      position: absolute;
      bottom: 7px;
      line-height: 14px;
      pointer-events: none;
      z-index: 1; }
      .nameHolder .selector .quantity b {
        font-family: 'Gotham-Book'; }
  .nameHolder #ingredient4 {
    border-bottom: none; }

.emailer {
  width: 450px;
  right: 20px;
  top: 150px; }
  .emailer .cocktailName {
    margin: -30px 90px 10px 0;
    float: right; }
  .emailer .quantity {
    font-size: 24px; }

.sendPage {
  opacity: 1; }
  .sendPage .carousel-holder {
    float: left;
    width: 100%;
    background: url("../images/bg-agegate.jpg") no-repeat; }
    @media screen and (max-width: 480px) {
      .sendPage .carousel-holder {
        height: 500px;
        margin: 40px 0 0 0; } }

.sendForm {
  width: 280px;
  margin: 30px auto 0 auto; }
  .sendForm .sendInstruction {
    text-align: center;
    color: #FFFFFF; }
  .sendForm .divider-white {
    margin: 20px auto; }
  .sendForm .input {
    float: left;
    margin: 5px 0 0 0;
    position: relative; }
    .sendForm .input .error {
      background: url("../images/error-input.png") no-repeat;
      width: 27px;
      height: 21px;
      position: absolute;
      top: 7px;
      right: -10px;
      z-index: 99;
      display: none;
      /*&.show{
      	display: block;
      }*/ }
    .sendForm .input .input-text {
      background: url("../images/bg-nameInput.svg") no-repeat;
      width: 280px;
      height: 38px;
      border: none;
      padding: 0 0 0 10px;
      line-height: 38px;
      margin: 0 0 10px 0;
      text-transform: uppercase;
      font-family: 'Gotham-Black';
      color: #000000; }
  .sendForm input[type='checkbox'] {
    margin: 0 0 10px 0; }
  .sendForm input[type='checkbox'] + label {
    margin: 0; }
  .sendForm .send {
    margin: 5px 0 0 60px;
    float: left; }

.vm-thankyou {
  opacity: 1; }
  .vm-thankyou .carousel-holder {
    float: left;
    width: 100%;
    height: 485px;
    margin: 40px 0 0 0;
    background: url("../images/bg-agegate.jpg") no-repeat; }
    @media screen and (max-width: 480px) {
      .vm-thankyou .carousel-holder {
        height: 485px;
        margin: 40px 0 0 0; } }
    .vm-thankyou .carousel-holder h1 {
      margin: -40px auto 0 auto; }
    .vm-thankyou .carousel-holder .thanksHolder {
      width: 390px;
      margin: 100px auto 0 auto;
      color: #FFFFFF; }
      @media screen and (max-width: 480px) {
        .vm-thankyou .carousel-holder .thanksHolder {
          width: 280px; } }
      .vm-thankyou .carousel-holder .thanksHolder .thanks {
        width: 182px;
        margin: 0 auto;
        text-align: center; }
      .vm-thankyou .carousel-holder .thanksHolder .divider-white {
        margin: 40px auto; }
      .vm-thankyou .carousel-holder .thanksHolder .btns {
        width: 335px;
        margin: 0 auto; }
        @media screen and (max-width: 480px) {
          .vm-thankyou .carousel-holder .thanksHolder .btns {
            width: 151px; } }
        .vm-thankyou .carousel-holder .thanksHolder .btns a {
          float: left;
          margin: 0;
          /*@include bp($mobile){
          	clear
          }*/ }
        .vm-thankyou .carousel-holder .thanksHolder .btns p {
          width: 30px;
          float: left;
          text-align: center;
          line-height: 41px; }
          @media screen and (max-width: 480px) {
            .vm-thankyou .carousel-holder .thanksHolder .btns p {
              float: none;
              width: 100%; } }

.vm-intro {
  background: url("../images/bg-vm-mixers.jpg") no-repeat;
  width: 100%;
  height: 490px;
  float: left; }
  .vm-intro .btn {
    margin: 30px auto 0 auto; }
  .vm-intro .intro {
    border: 1px solid #FFFFFF;
    width: 490px;
    text-align: center;
    margin: 70px auto 0 auto;
    padding: 30px;
    position: relative; }
    @media screen and (max-width: 480px) {
      .vm-intro .intro {
        width: 260px; } }
    .vm-intro .intro .divider-small {
      background: url("../images/divider-small.svg") no-repeat;
      width: 42px;
      height: 10px;
      margin: 0 auto 10px auto; }
    .vm-intro .intro p {
      font-family: 'Gotham-Light';
      color: #FFFFFF; }
    .vm-intro .intro .small-dot {
      background: url("../images/small-dot.svg") no-repeat;
      width: 7px;
      height: 7px;
      position: absolute;
      bottom: -3.5px;
      left: 50%; }
  .vm-intro .btn-getStarted {
    display: block;
    width: 114px;
    height: 44px;
    background: url("../images/btn-getStarted.svg") no-repeat;
    text-decoration: none;
    font-family: 'Gotham-MediumItalic';
    font-size: 12px;
    line-height: 44px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: center;
    margin: 50px auto 0 auto; }
    @media screen and (max-width: 480px) {
      .vm-intro .btn-getStarted {
        margin: 20px auto 0 auto; } }

.footer {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  position: relative;
  z-index: 1000; }
  .footer .footer-icons {
    margin: 0 auto;
    width: 885px;
    display: block;
    /*float: left;*/ }
    @media screen and (max-width: 1023px) {
      .footer .footer-icons {
        width: 455px;
        margin: 0 auto; } }
    @media screen and (max-width: 800px) {
      .footer .footer-icons {
        width: 300px;
        margin: 0 auto; } }
    .footer .footer-icons ul {
      list-style: none;
      margin: 0;
      padding: 0; }
    .footer .footer-icons .footer-icon {
      float: left;
      width: 147px;
      height: 120px; }
    .footer .footer-icons .icon-tanquery {
      clear: left;
      background: url("../images/Tanqueray_logo.svg") no-repeat; }
    .footer .footer-icons .icon-donjulio {
      background: url("../images/DonJulio_logo.svg") no-repeat; }
    .footer .footer-icons .icon-johnniewalker {
      background: url("../images/Singleton_logo.svg") no-repeat; }
    .footer .footer-icons .icon-johnniewalker {
      background: url("../images/JohhnieWalkerGold_logo.svg") no-repeat; }
    .footer .footer-icons .icon-singleton {
      background: url("../images/Singleton_logo.svg") no-repeat; }
    .footer .footer-icons .icon-ronzappa {
      background: url("../images/RonZacapa_logo.svg") no-repeat; }
    .footer .footer-icons .icon-ketel {
      background: url("../images/KetelOne_logo.svg") no-repeat; }

.toast-title {
  font-weight: bold; }

.toast-message {
  -ms-word-wrap: break-word;
  word-wrap: break-word; }

.toast-message a,
.toast-message label {
  color: #ffffff; }

.toast-message a:hover {
  color: #cccccc;
  text-decoration: none; }

.toast-close-button {
  position: relative;
  right: -0.3em;
  top: -0.3em;
  float: right;
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
  -webkit-text-shadow: 0 1px 0 #ffffff;
  text-shadow: 0 1px 0 #ffffff;
  opacity: 0.8;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  filter: alpha(opacity=80); }

.toast-close-button:hover,
.toast-close-button:focus {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.4;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  filter: alpha(opacity=40); }

/*Additional properties for button version
 iOS requires the button element instead of an anchor tag.
 If you want the anchor version, it requires `href="#"`.*/
button.toast-close-button {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none; }

.toast-top-center {
  top: 0;
  right: 0;
  width: 100%; }

.toast-bottom-center {
  bottom: 0;
  right: 0;
  width: 100%; }

.toast-top-full-width {
  top: 0;
  right: 0;
  width: 100%; }

.toast-bottom-full-width {
  bottom: 0;
  right: 0;
  width: 100%; }

.toast-top-left {
  top: 12px;
  left: 12px; }

.toast-top-right {
  top: 50%;
  left: 50%;
  margin-left: -150px; }

.toast-bottom-right {
  right: 12px;
  bottom: 12px; }

.toast-bottom-left {
  bottom: 12px;
  left: 12px; }

.toast-coverall {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5); }

#toast-container {
  position: fixed;
  z-index: 999999;
  /*overrides*/ }

#toast-container * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

#toast-container > div {
  position: relative;
  overflow: hidden;
  margin: 25% auto;
  padding: 15px 15px 0 15px;
  width: 202px;
  text-align: center;
  /*-moz-border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px 3px 3px 3px;*/
  /*border-radius: 10px 10px 10px 10px;*/
  background-position: center center;
  background-repeat: no-repeat;
  /*-moz-box-shadow: 0 0 12px #999999;
  -webkit-box-shadow: 0 0 12px #999999;
  box-shadow: 0 0 12px #999999;*/
  color: #ffffff;
  /*opacity: 0.8;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  filter: alpha(opacity=80);*/ }

#toast-container > :hover {
  /*-moz-box-shadow: 0 0 12px #000000;
  -webkit-box-shadow: 0 0 12px #000000;
  box-shadow: 0 0 12px #000000;
  opacity: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  filter: alpha(opacity=100);
  cursor: pointer;*/ }

#toast-container > .toast-info {
  /*background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAGwSURBVEhLtZa9SgNBEMc9sUxxRcoUKSzSWIhXpFMhhYWFhaBg4yPYiWCXZxBLERsLRS3EQkEfwCKdjWJAwSKCgoKCcudv4O5YLrt7EzgXhiU3/4+b2ckmwVjJSpKkQ6wAi4gwhT+z3wRBcEz0yjSseUTrcRyfsHsXmD0AmbHOC9Ii8VImnuXBPglHpQ5wwSVM7sNnTG7Za4JwDdCjxyAiH3nyA2mtaTJufiDZ5dCaqlItILh1NHatfN5skvjx9Z38m69CgzuXmZgVrPIGE763Jx9qKsRozWYw6xOHdER+nn2KkO+Bb+UV5CBN6WC6QtBgbRVozrahAbmm6HtUsgtPC19tFdxXZYBOfkbmFJ1VaHA1VAHjd0pp70oTZzvR+EVrx2Ygfdsq6eu55BHYR8hlcki+n+kERUFG8BrA0BwjeAv2M8WLQBtcy+SD6fNsmnB3AlBLrgTtVW1c2QN4bVWLATaIS60J2Du5y1TiJgjSBvFVZgTmwCU+dAZFoPxGEEs8nyHC9Bwe2GvEJv2WXZb0vjdyFT4Cxk3e/kIqlOGoVLwwPevpYHT+00T+hWwXDf4AJAOUqWcDhbwAAAAASUVORK5CYII=") !important;*/ }

#toast-container > .toast-error {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAHOSURBVEhLrZa/SgNBEMZzh0WKCClSCKaIYOED+AAKeQQLG8HWztLCImBrYadgIdY+gIKNYkBFSwu7CAoqCgkkoGBI/E28PdbLZmeDLgzZzcx83/zZ2SSXC1j9fr+I1Hq93g2yxH4iwM1vkoBWAdxCmpzTxfkN2RcyZNaHFIkSo10+8kgxkXIURV5HGxTmFuc75B2RfQkpxHG8aAgaAFa0tAHqYFfQ7Iwe2yhODk8+J4C7yAoRTWI3w/4klGRgR4lO7Rpn9+gvMyWp+uxFh8+H+ARlgN1nJuJuQAYvNkEnwGFck18Er4q3egEc/oO+mhLdKgRyhdNFiacC0rlOCbhNVz4H9FnAYgDBvU3QIioZlJFLJtsoHYRDfiZoUyIxqCtRpVlANq0EU4dApjrtgezPFad5S19Wgjkc0hNVnuF4HjVA6C7QrSIbylB+oZe3aHgBsqlNqKYH48jXyJKMuAbiyVJ8KzaB3eRc0pg9VwQ4niFryI68qiOi3AbjwdsfnAtk0bCjTLJKr6mrD9g8iq/S/B81hguOMlQTnVyG40wAcjnmgsCNESDrjme7wfftP4P7SP4N3CJZdvzoNyGq2c/HWOXJGsvVg+RA/k2MC/wN6I2YA2Pt8GkAAAAASUVORK5CYII=") !important; }

#toast-container > .toast-success {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAADsSURBVEhLY2AYBfQMgf///3P8+/evAIgvA/FsIF+BavYDDWMBGroaSMMBiE8VC7AZDrIFaMFnii3AZTjUgsUUWUDA8OdAH6iQbQEhw4HyGsPEcKBXBIC4ARhex4G4BsjmweU1soIFaGg/WtoFZRIZdEvIMhxkCCjXIVsATV6gFGACs4Rsw0EGgIIH3QJYJgHSARQZDrWAB+jawzgs+Q2UO49D7jnRSRGoEFRILcdmEMWGI0cm0JJ2QpYA1RDvcmzJEWhABhD/pqrL0S0CWuABKgnRki9lLseS7g2AlqwHWQSKH4oKLrILpRGhEQCw2LiRUIa4lwAAAABJRU5ErkJggg==") !important; }

#toast-container > .toast-warning {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAGYSURBVEhL5ZSvTsNQFMbXZGICMYGYmJhAQIJAICYQPAACiSDB8AiICQQJT4CqQEwgJvYASAQCiZiYmJhAIBATCARJy+9rTsldd8sKu1M0+dLb057v6/lbq/2rK0mS/TRNj9cWNAKPYIJII7gIxCcQ51cvqID+GIEX8ASG4B1bK5gIZFeQfoJdEXOfgX4QAQg7kH2A65yQ87lyxb27sggkAzAuFhbbg1K2kgCkB1bVwyIR9m2L7PRPIhDUIXgGtyKw575yz3lTNs6X4JXnjV+LKM/m3MydnTbtOKIjtz6VhCBq4vSm3ncdrD2lk0VgUXSVKjVDJXJzijW1RQdsU7F77He8u68koNZTz8Oz5yGa6J3H3lZ0xYgXBK2QymlWWA+RWnYhskLBv2vmE+hBMCtbA7KX5drWyRT/2JsqZ2IvfB9Y4bWDNMFbJRFmC9E74SoS0CqulwjkC0+5bpcV1CZ8NMej4pjy0U+doDQsGyo1hzVJttIjhQ7GnBtRFN1UarUlH8F3xict+HY07rEzoUGPlWcjRFRr4/gChZgc3ZL2d8oAAAAASUVORK5CYII=") !important; }

#toast-container.toast-top-center > div,
#toast-container.toast-bottom-center > div {
  width: 300px;
  margin: auto; }

#toast-container.toast-top-full-width > div,
#toast-container.toast-bottom-full-width > div {
  width: 96%;
  margin: auto; }

.toast {
  background-color: #030303; }

.toast-success {
  background-color: #ff0000; }

.toast-error {
  background-color: #bd362f; }

.toast-info {
  /*background-color: #2f96b4;*/
  background: url("../images/bg-error.svg") no-repeat;
  width: 202px;
  height: 70px; }

.toast-warning {
  background-color: #f89406; }

.toast-progress {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 4px;
  background-color: #000000;
  opacity: 0.4;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  filter: alpha(opacity=40); }

/*Responsive Design*/
/*@media all and (max-width: 240px) {
  #toast-container > div {
    padding: 8px 8px 8px 50px;
    width: 11em;
  }
  #toast-container .toast-close-button {
    right: -0.2em;
    top: -0.2em;
  }
}

@media all and (min-width: 241px) and (max-width: 480px) {
  #toast-container > div {
    padding: 8px 8px 8px 50px;
    width: 18em;
  }
  #toast-container .toast-close-button {
    right: -0.2em;
    top: -0.2em;
  }
}

@media all and (min-width: 481px) and (max-width: 768px) {
  #toast-container > div {
    padding: 15px 15px 15px 50px;
    width: 25em;
  }
}*/
.toast {
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999999999; }
  .toast .toast-content {
    background: #f47a20;
    position: absolute;
    width: 200px;
    top: 40%;
    left: 50%;
    margin-left: -100px;
    padding: 20px;
    text-align: center;
    color: #FFFFFF;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    .toast .toast-content p {
      margin: 0; }

/*# sourceMappingURL=main.css.map */
