.agegate{
	opacity: 1;
	.formholder{
		
		width: 100%;
		max-width: 1024px;
		height: 530px;
		background: url("../images/bg-agegate.jpg") no-repeat; 
		margin: 0;
		float: left;
		
		color: $white;

        .form-content{
            width: 280px;
            margin: 20px auto 0 auto;
        }
		
		.logo{
			background: url("../images/logo-white.svg") no-repeat;
			width: 311px;
			height: 75px;
			margin: 70px auto 0 auto;
		}
		
		.errorText{
			margin: 10px auto;
            display:none;
		}
		
		.dateHolder{
			width: 240px;
			margin: 10px auto 20px auto;
			overflow: auto;
    		padding: 0 0 0 40px;
			
			.input{
				float: left;
				margin: 5px 10px 0 0;		
				position: relative;
				
				.error{
					background: url("../images/error-input.png") no-repeat;
					width: 27px;
					height: 21px;
					
					position: absolute;
					top: 7px;
				    right: -22px;
				    z-index: 99;
				    display: none;
				    /*&.show{
				    	display: block;
				    }*/
				}		
			}
			
			.input-date-2{
				width: 60px;
				height: 37px;
				background: url("../images/bg-input2.svg") no-repeat;
				border: none;
				line-height: 37px;
				text-align: center;
				
			}
			.input-date-4{
				width: 60px;
				height: 37px;
				background: url("../images/bg-input2.svg") no-repeat;
				border: none;
				line-height: 37px;
				text-align: center;
				float: left;
			}
		}
		
		.rememberme{
			width: 200px;
			height: 30px;
			margin: 20px auto 0 auto;
		}
		
		p{
			/*width: 240px;*/
			clear: left;
			margin: 0 auto;
			
			text-align: center;
		}

        .btn{
            margin: 30px auto 0 auto;
        }
		
		.btn-enter{
			background: url("../images/btn-enter.svg") no-repeat;
			width: 61px;
			height: 51px;
			display: block;
			font-family: 'Gotham-MediumItalic';
			font-size: 12px;
			line-height: 51px;
			text-decoration: none;
			color: $white;
			padding: 0 0 0 23px;
			margin: 20px auto;
		}
		
	}
	
	.legal{
		width: 100%;
		font-family: 'Gotham-Medium';
		font-size: 18px;
		text-align: center;
	}
}

.show{
	display: block !important;
}
