.barview{
	
	.bars-header{
		/*height: 130px;
		background: url("../images/bg-lines.jpg") no-repeat;
		background-position: 0 50px;
		
		@include bp($mobile){
			height: 180px;
		}*/
	}
	
	.btn-left, .btn-right{
		z-index: 99;
	} 
	
	color: $white;
	.carousel-item{
		display: block;
	}
	
	.carousel-holder{
		margin: -65px 0 0 0;
		position: relative;
		.head{ 
			/*background: url("../images/bg-bars.jpg") no-repeat;*/ 
			width: 1024;
			/*height: 475px;*/
            height: 600px;
		}
		
		.dropdown{
			position: absolute;
			top: -30px;
			left: 50%;
			margin: 0 0 0 -220px;
			
			@include bp($mobile){
				top: -90px;
				margin: 0 0 0 -108px;
			}
			
			.btn-dropdown{
				margin: 0 0 -24px 0;
			}
		}
		.dropdown-reserve{
			position: absolute;
			top: -30px;
			left: 50%;
			margin: 0 0 0 10px;
			
			@include bp($mobile){
				top: -30px;
				margin: 0 0 0 -108px;
			}
			.btn-dropdown{
				margin: 0 0 -24px 0;
			}
		}
	}
	/*.carouselItem-carousel{
		position: absolute;
		top: 0;
		left: 0;
	}*/
	
	#carousel{
		overflow: hidden;
		.carousel-item{
			margin: 240px 0 0 0;
			float: left;
			/*width: 1024px;*/
			/*height: 475px;*/
            height: 600px;
			
			.name{
				margin: 10px 0;
				font-size: 18px;
			}
			
			.bar-description{
				width: 350px;
				margin: 10px auto 14px auto;
				text-align: center;
				
				@include bp($mobile){
					width: 290px;
				}
			}
			
			a{
				text-decoration: none;
			}
			
			.bar-location{
				max-width: 250px;
				margin: 0 auto;
				
				/*&:hover{
					.pin{
						margin: -5px 0 0 0;
					}
				}*/
				
				.pin{
					background: url("../images/pin.svg") no-repeat;
					width: 23px;
					height: 36px;
					margin: -3px 0 0 0;
					float: left;
					-moz-transition: margin 0.3s;
					-webkit-transition: margin 0.3s;
					transition: margin 0.3s;
				}
				
				.location-divider{
					width: 10px;
					height: 36px;
					border-right: 1px solid $white;
					margin: 0 10px 0 0;
					float: left;
				}
				
				.location-name{
					text-decoration: none;
					color: $white;
					font-family: 'Gotham-Book';
					font-size: 12px;
				}
			}
		}
	}
}
#template{
	display: none;
}
