.bartenders-detail{
	
	
		
	#carousel-item-holder{
		height: 530px;
	}
	
	
	
	.col-left, .col-right{
		width: 310px;
		height: 380px;
		float: left;
		font-family: 'Gotham-Light';
		b{
			font-family: 'Gotham-Medium';
			display: block;
			margin: 10px 0 15px 0;	
		}
		@include bp($tablet){
			height: auto;
			width: 100%;
		}
	}
	
	.col-holder{
		@include bp($tablet){
			width: 90%;
			margin: 0 auto;
		}
	}
	
	.col-left{
		margin: 40px 0 0 170px;
		@include bp($tablet){
			margin: 40px 0 0 10px;
		}
	}
	
	.col-right{
		margin: 40px 0 0 0;
		@include bp($tablet){
			margin: 0px 0 0 10px;
		}
	}
	
	.vertical-divider{
		width: 2px;
		height: 380px;
		border-left: 1px solid $grey;
		float: left;
		margin: 40px 30px 0 30px;
		
		@include bp($tablet){
			display: none;
		}
	}
	
	.follow-social{
		background: url('../images/bg-lines.jpg') no-repeat;
		width: 100%;
		height: 65px;
		float: left;
		margin: 20px 0 0 0;
		
		.social-links{
			margin: 12px auto 0 auto;
			width: 260px;
			
		}
		
		.instruction{
			font-family: 'Gotham-black';
			text-transform: uppercase;
			line-height: 43px;
			float: left;
		}
		.icon{
			width: 43px;
			height: 43px;
			float: left;
			margin: 0 0 0 10px;
			
			-moz-transition: margin 0.3s;
			-webkit-transition: margin 0.3s;
			transition: margin 0.3s;
			
			&:hover{
				margin: -3px 0 0 10px;
			}
		}
		.icon-facebook{
			background: url('../images/social-facebook.svg') no-repeat;
		}
		.icon-twitter{
			background: url('../images/social-twitter.svg') no-repeat;
		}
		.icon-instagram{
			background: url('../images/social-instagram.svg') no-repeat;
		}
	}
	
	

}
