.bars{
	
	.bars-header{
        width: 100%;
		height: 485px;
		/*background: url("../images/bg-lines.jpg") no-repeat;*/
		/*background-position: 0 50px;*/
		position: relative;
        margin: 0 0 40px 0;
		/*@include bp($mobile){
			height: 180px;
		}*/

        #bar-video{
            width: 100%;
            height: 100%;
            position: absolute;
            top: 40px;
        }
	}
    .buttons-holder{
        background: url('../images/bg-lines.jpg') no-repeat;
        background-position-y: 107px;
        height: 280px;
    }

    .bar-buttons{
        width: 970px;
        overflow: auto;
        margin: -20px auto 0 auto;
        overflow: hidden;
        height: 300px;
    }
    .btn-bar{
        
        width: 238px;
        height: 238px;
        position: relative;
        display: table;
        vertical-align: middle;
        text-align: center;
        cursor: pointer;
        float: left;
        margin: 0 0 0 5px;

        &.reserve{
            width: 230px;
            height: 230px;
            background-image: url('../images/btn-bar-reserve.png');
            position: absolute;
            top: 50%;
            left: 50%;
            margin: -80px 0 0 -115px;

            .btn-content p{
                font-size: 20px;
            }
        }

        &.gauteng{
            background-image: url('../images/btn-bar-gauteng.png');
            margin-left: 0;
        }

        &.wc{
            background-image: url('../images/btn-bar-wc.png');
        }

        &.kzn{
            background-image: url('../images/btn-bar-kzn.png');
        }

        &.all{
            background-image: url('../images/btn-bar-all.png');
        }

        .btn-content{
            display: table-cell;
            vertical-align: middle;
            width: 150px;
            height: 150px;

            p{
                font-family: 'Gotham-Black';
                font-size: 14px;
                text-transform: uppercase;
                color: $white;
            }
            .province-name{
                color:$orange;
            }

            .btn-readmore-white{

                margin: 20px auto 0 auto;
            }
        }

    }
	
	.map{
		background: url('../images/map-bars.jpg') no-repeat;
		height: 565px;
		width: 1024px;
		position: relative;
	    left: 50%;
    	margin: 0 0 0 -512px;
    	
    	@include bp($mobile){
    		width: 512px;
    		height: 280px;
    		background-size: contain;
    		margin: 0 0 0 -256px;
    	}
		
		.map-pin-bar{
			background: url('../images/map-pin-orange.svg') no-repeat;
			width: 40px;
			height: 60px;
			position: absolute;
			
			@include bp($mobile){
				width: 20px;
				height: 30px;
				background-size: contain;
			}
		}
		
		.map-pin-reserve{
			background: url('../images/map-pin-black.svg') no-repeat;
			width: 40px;
			height: 60px;
			position: absolute;
			
			@include bp($mobile){
				width: 20px;
				height: 30px;
				background-size: contain;
			}
		}
		
		#pin-gauteng{
			top: 150px;
    		left: 570px;
			
			@include bp($mobile){
				top: 75px;
				left: 280px;
			}
		}
		#pin-reserve-gauteng{
			top: 125px;
    		left: 600px;
			
			@include bp($mobile){
				top: 63px;
				left: 300px;
			}
		}
		
		#pin-KZN{
			top: 286px;
    		left: 649px;
			
			@include bp($mobile){
				top: 143px;
				left: 325px;
			}
		}
		#pin-reserve-kzn{
			top: 305px;
    		left: 615px;
			
			@include bp($mobile){
				top: 153px;
				left: 308px;
			}
		}
		
		#pin-cape{
			top: 403px;
    		left: 309px;
			
			@include bp($mobile){
				top: 201px;
				left: 155px;
			}
		}
		#pin-reserve-cape{
			top: 420px;
    		left: 345px;
			
			@include bp($mobile){
				top: 206px;
			    left: 172px;
			}
		}
		
		/*.dropdown{
			background: url("../images/WorldClassBars_DropDown_Closed.svg") no-repeat;
			width: 216px;
			height: 52px;
			margin: -25px 0 0 290px;
			float: left;
			
			@include bp($mobile){
				margin: -80px 0 0 -108px;
				position: relative;
				float: left;
				left: 50%;
			}
			
			&.open{
				height: 207px;
				background: url("../images/WorldClassBars_DropDown_Open.svg") no-repeat; 
				z-index: 999;
				position: relative;
			}
			a{
				text-decoration: none;
			}
		}
		.dropdown-reserve{
			background: url("../images/ReserveClubBars_DropDown_Closed.svg") no-repeat;
			width: 216px;
			height: 52px;
			margin: -25px 0 0 10px;
			float: left;
			@include bp($mobile){
				margin: -20px 0 0 -108px;
				position: relative;
				float: left;
				left: 50%;
			}
			
			&.open{
				height: 207px;
				z-index: 999;
				position: relative;
				background: url("../images/ReserveClubBars_DropDown_Open.svg") no-repeat; 
			}
			a{
				text-decoration: none;
			}
		}
		.btn-dropdown{
			font-family: 'Gotham-MediumItalic';
			color: $white;
			line-height: 52px;
			padding: 0 0 0 20px;
			cursor: pointer;
			text-transform: uppercase;
		}
		
		.btn-dropdown-option{
			font-family: 'Gotham-Light';
			color: $white;
			line-height: 16px;
			width: 100%;
			height: 16px;
			text-align: center;
			cursor: pointer;
			text-transform: uppercase;
			margin: 24px 0 0 0;
			display: none;
			&:hover{
				font-family: 'Gotham-Medium';
			}
			&.open{
				display: block;
			}
			
		}*/
		
		#gauteng{
			margin: -5px 0 0 0;
		}
	}
}
#btn-dropdown-reserve{
	padding: 0;
	text-align: center;
}
