.bartenders{
	
	width: 100%;
	
	background: url("../images/bg-lines.jpg");
	
	.featured{
		/*background: url('../images/bartender-dom-large.jpg') no-repeat;*/
		width: 100%;
		height: 600px;
		position: relative;
		
		@include bp($tablet){
			background: url('../images/bartender-dom-small.jpg') no-repeat;
			background-size: contain;
		}
		
			
		.featured-tag{
			position: absolute;
			top: 7%;
			left: 0;
			background: url("../images/featured-tag.png") no-repeat;
			width: 90px;
			height: 90px; 
		}
		
		.featured-info{
			background: url('../images/featured-bartender-info.png') no-repeat;
			width: 230px;
			height: 230px;
			margin: 140px auto 0 auto;
			overflow: auto;
			
			@include bp($tablet){
				background: rgba(0, 0, 0, 0.4);
				width: 100%;
				height: 140px;
				overflow: visible;
				position: absolute;
				bottom: 0;
				margin: 0;
				
			}
			
			.name{
				font-family: 'Gotham-Black';
				font-size: 20px;
				color: $white;
				width: 100%;
    			margin: 70px auto 0 auto;
				text-align: center;
				line-height: 22px;
				float: left;
				text-transform: uppercase;
				
				@include bp($tablet){
					margin: 20px auto 0 auto;
					float: none;
				}
			}
			
			.btn-readmore-white{
				@include bp($tablet){
					margin: 10px auto 0 auto;
				}
			}

		}
		
	}
	
	.bartenders-list{
		width: 980px;
	    /*background: white;*/
	    margin: -30px auto 0 auto;
	    padding: 4px;
	    overflow: auto;
	    position: relative;
		
		@include bp($tablet){
			width: 100%;
		}
		
		.bartender{
			/*width: 480px;*/
			width: 50%;
			/*height: 240px;*/
			float: left;
			display: table;
			cursor: pointer;
			
			@include bp($mobile){
				width: 100%;
			}
			
			/*&:nth-child(1){
				border-left: 4px solid $white;
				border-top: 4px solid $white;
                width: 50%;
				width: -webkit-calc(50% - 4px);
				width: -moz-calc(50% - 4px);
				width: calc(50% - 4px);
				@include bp($tablet){
					border-left: none;
					width: 50%;
				}
				@include bp ($mobile){
					width: 100%;
				}
				
			}
			&:nth-child(2){
				border-right: 4px solid $white;
				border-top: 4px solid $white;
                width: 50%;
				width: -webkit-calc(50% - 4px);
				width: -moz-calc(50% - 4px);
				width: calc(50% - 4px);
				@include bp($tablet){
					border-right: none;
					width: 50%;
				}
				@include bp ($mobile){
					width: 100%; 
				}
			}*/
			
			
			
			/*img{*/
			.bartender-pic{
				float: left;
				/*width: 240px;
				height: 240px;*/
				width: 50%;
			}
			
			&.right{
				/*img{*/
				.bartender-pic{
					float: right;
				}
			}
			
			&.center{
				margin: 0 0 0 25%;
				
				@include bp($mobile){
					margin: 0;
				}
			}
			
			.bartender-info{
				/*width: 240px;
				height: 240px;*/
				width: 50%;
				background: url('../images/bartender-info.svg') no-repeat;
				background-size: contain;
				float: left;
				text-align: center;
				position: relative;
				min-height: 100%;
				display: table-cell;
				vertical-align: middle;

                .bt-content{
                    display: table-cell;
                }
				
				
				.name{
					font-family: 'Gotham-Black';
					font-size: 14px;
					line-height: 16px;
					text-align: center;
					margin: 35% auto 0 auto;
				    text-transform: uppercase;
				    width: 80%;
				}
				
			}
		}
	}
}
