.carousel-holder{
	
	.head{
		width: 100%;
		height: 600px;
		/*background: url('../images/bartender-domenico-large.jpg') no-repeat;*/
		/*background-position: 0 30px;*/
		position: relative;
		
		.slide-indicator{
			font-family: 'Gotham-Book';
			font-size: 16px;
			position: absolute;
			width: 50px;
			bottom: 15px;
			left: 50%;
			margin: 0 0 0 -25px;
			text-align: center;
		}
		
		.btn-left{
			width: 75px;
			height: 75px;
			background: $white url('../images/btn-arrow-left.svg') no-repeat;
			position: absolute;
			bottom: 0;
			left: 0;
			cursor: pointer;
			
			-moz-transition: background-color 0.3s;
			-webkit-transition: background-color 0.3s; 
			transition: background-color 0.3s;
			
			&:hover, &.hover{
				background: $orange url('../images/btn-arrow-left-white.svg') no-repeat;
				@include bp($tablet){
					background: $white url('../images/btn-arrow-left.svg') no-repeat;
				}
			}
			
			@include bp($mobile){
				width: 40px;
				height: 40px;
				background-size: contain;
			}
		}
		.btn-right{
			width: 75px;
			height: 75px;
			background: $white url('../images/btn-arrow-right.svg') no-repeat;
			position: absolute;
			bottom: 0;
			right: 0;
			cursor: pointer;
			
			-moz-transition: background-color 0.3s;
			-webkit-transition: background-color 0.3s;
			transition: background-color 0.3s;
			
			
			@include bp($mobile){
				width: 40px;
				height: 40px;
				background-size: contain;
			}
			
			&:hover, &.hover{
				background: $orange url('../images/btn-arrow-right-white.svg') no-repeat;
				@include bp($tablet){
					background: $white url('../images/btn-arrow-right.svg') no-repeat;
				}
			}
		}
	}
	
	.carousel-item{
		display: none;
	}
	.name{
		font-family: 'Gotham-Black';
		font-size: 16px;
		text-align: center;
		margin: 18px 0 0 0;
		text-transform: uppercase;
	}
	
	.divider{
		background: url('../images/divider-black.svg') no-repeat;
		width: 100%;
	    height: 7px;
	    float: left;
	    background-position: center;
	    margin: 10px 0 0 0;
	}
}