.competition{
    opacity: 1;
	.caroufredsel_wrapper{
		z-index: -1;
	}
	#carousel{
		margin: -67px 0 0 0;
		float: left;
        width: 100%;
        height: 600px;
		img{
			float: left;
		}
        position: relative;
        z-index: -1;
	}
	
	.comp-name{
		background: url("../images/bg-lines.jpg") no-repeat;
		height: 95px;
		width: 100%;
		float: left;
		
		.name{
			font-family: 'Gotham-Black';
			text-align: center;
			margin: 10px auto 0 auto;
    		width: 95%;
		}
		
		.divider-black{
			margin: 10px auto 0 auto;
		}
	}
	
	.col-left{
		width: 330px;
		margin: 30px 0 0 150px;
		float: left;
		
		@include bp($tablet){
			width: 90%;
			margin: 30px 0 0 10px;
		}
	}
	
	.v-divider{
		margin: 30px 0 0 0;
		width: 40px;
		height: 128px;
		border-right: 1px solid $grey;
		float: left;
		
		@include bp($tablet){
			display: none;
		}
	}
	
	.col-right{
		width: 330px;
		margin: 30px 0 0 40px;
		float: left;
		@include bp($tablet){
			width: 90%;
			margin: 20px 0 0 10px;
		}
	}
		
	
	
	.compwinner{
		margin: 30px 0 0 0;
		float: left;
		
		background: url('../images/bg-lines.jpg');
		height:512px;
		width: 100%;
		position: relative;
		
		@include bp ($tablet){
			height: 965px;
		}
		
		.winner-img{
			background: url('../images/competition-winner.jpg') no-repeat;
			width: 100%;
			max-width: 512px;
			/*height: 512px;*/
			background-size: contain;
			
			@include bp($tablet){
				margin: 0 auto;
			}
		}
		
		.winner-copy{
			background: url('../images/winner-copy-desktop.jpg') no-repeat;
			width: 512px;
			height: 450px;
			position: absolute;
		    right: 25px;
		    top: 25px;
		    
		    @include bp($tablet){
		    	margin: -25px auto 0 auto;
			    position: relative;
			    right: 0;
			    top: 0;
		    }
		    
		    @include bp($mobile_wide){
				background: url('../images/winner-copy-mobile.jpg') no-repeat;
		    	width: 294px;
		    }
		}
	}
	
}
