.contact{
	.contact-info{
		background: url("../images/bg-contact.jpg") no-repeat;
		width: 100%;
		height: 475px;
		
		.contact-details{
			font-family: 'Gotham-Black';
			color: $white;
			text-align: center;
			margin: 180px auto 0 auto;
			a{
				color: $orange;
				text-decoration: none;
                -webkit-transition: color 0.3s;
                -ms-transition: color 0.3s;
                transition: color 0.3s;
				&:hover{
					color: $white;
				}
			}
		}
		
		.divider-white{
			margin: 20px auto;
		}
	}
	
	.social{
		
		background: url('../images/bg-lines.jpg') no-repeat;
		
		width: 100%;
		height: 70px;
		
		float: left;
		
		.social-icons{
			width: 180px;
			height: 45px;
			
			margin: 13px auto 0 auto;
			
			/*.social-icon{
				width: 43px;
				height: 43px;
				float: left;
				margin: 0 0 0 15px;
			}
			
			.social-facebook{
				background: url("../images/social-facebook.svg") no-repeat;
			}
			.social-twitter{
				background: url("../images/social-twitter.svg") no-repeat;
			}*/
			.social-instagram{
				background: url("../images/social-instagram.svg") no-repeat;
			}
		}
	}
}

