.drinks{
	/*opacity: 1;*/

	.drinks-header{
		margin: 50px 0 0 0;
		background: url('../images/bg-lines.jpg');
		background-position: 0 50px;
		width: 100%;
		height: 210px;
		float: left;
		
		h1{
			margin: -50px auto 0 auto;
		}
		p{
			margin: 20px auto 0 auto;
			text-align: center;
		} 
	}
	
	.drinks-list{
		background: $black;
		width: 100%;
		max-width: 960px;
	    /*background: white;*/
	    margin: -30px 0 0 25px;
	    float: left;
	    /*padding: 4px;*/
	    overflow: auto;
	    position: relative;
	    
	    @include bp($tablet){
	    	width: 100%;
	    	margin: -30px 0 0 0;
	    }
		
		.drink{
			/*width: 480px;*/
			width: 50%;
			/*height: 240px;*/
			float: left;
			position: relative;
            cursor: pointer;
			
			@include bp($mobile_wide){
				width: 100%;
			}
			
			/*&:nth-child(1){
				border-left: 4px solid $white;
				border-top: 4px solid $white;
			}
			&:nth-child(2){
				border-right: 4px solid $white;
				border-top: 4px solid $white;
			}*/
			
			.drink-pic{
				width: 51%;
				height: 100%;
				float: right;
			}
			
			img{
				/*float: right;*/
				/*width: 51%;
				height: 100%;*/
                
			}
			
			
			&.center{
				margin: 0 0 0 240px;
			}
			
			.drink-info{
				position: absolute;
                width: 52%;
				/*width: 250px;
				height: 240px;
                
				width: -webkit-calc(50% + 10px);
				width: -moz-calc(50% + 10px);
				width: calc(50% + 10px); */
				height: 100%;
				background: url('../images/drink-info-left.svg') no-repeat;
                background-size: cover;
				/*float: left;*/
				text-align: center;
				z-index: 99;
				left: 0;
				top: 0;
				display: table;
				
				.name{
					font-family: 'Gotham-Black';
					color: $white;
					font-size: 14px;
					line-height: 16px;
					text-align: center;
					/*margin: 60px 0 0 0;*/
					margin: 0 auto;
					text-transform: uppercase;
					position: relative;
					width: 90%;
					max-width: 200px; 
				}
				a{
					margin: 20px auto 0 auto;
				}
				
				.drink-info-holder{
					display: table-cell;
					vertical-align: middle;
				}
			}
			
			&.right{
				.drink-pic{
					float: left;
				}
				.drink-info{
					background: url('../images/drink-info-right.svg') no-repeat;
                    background-size: cover;
					/*left: 230px;*/
					left: 48%;
				}
			}
		}
	}
}
