.drinks-detail{
	
	.carousel-holder{
        position: relative;
        overflow: hidden;
        .carousel-item{
            display: block;
        }

        #carouselItem-carousel{
            color: $white;
            position: absolute;
            top: 200px;
            left: 40px;

            @include bp($tablet){
                position: relative;
                top: auto;
                left: auto;
                color: $black;
            }

            .name-area{
                background: none;
                float: none;
                height: auto;
                width: 300px;
                text-align: center;
                margin: 0 auto;

                #divider{
                    margin:12px auto 0 auto;
                }
            }
        }
		
		.head{
			/*height: 535px;*/
		}
		
		.name-area{
			background: url('../images/bg-lines.jpg');
			height: 75px;    
			float: left;
    		width: 100%;
		}
		
		.instructions{
			width: 100%;
			text-align: center;
			margin: 20px auto;
			float: left;
			p{
				max-width: 380px;
				margin: 0 auto;
			}
		}
	}
}
