.header{
	width: 100%;
	max-width: 1024px;
	height: 60px;
	background: $white;
	border-bottom: 1px solid $black;
	margin: 0 auto;
	
	.logo{
		background: url("../images/logo.svg") no-repeat;
		width: 132px;
		height: 32px;
		float: left;
		margin: 10px;
	}
	
	
	.hamburger{
		background: url("../images/hamburger.svg") no-repeat center center;
		width: 25px;
		height: 25px;
		
		float: right; 
		margin: 12px 20px 0 0;
		cursor: pointer;
		
		&.open{
			background: url("../images/btn-close-menu.svg") no-repeat;
		}
	}

	/* NAV */
	.nav{
		float: left;
		margin: 20px 0 20px 20px;
		z-index: 2999;
		
		@include bp($tablet){
			width: 100%;
			height: 100%;
			background: $black;
			position: absolute;
			margin: 0;
			top: 60px;
			display: none;
		}
		&.open{
			display: block;
		}
		
		ul{
			list-style: none;	
			margin: 0;
			padding: 0;
			float: left;
			&:nth-child(0){
				margin: 0 0 0 30px;
			}
			
			@include bp($tablet){
				float: none;
			}
			
			li{
				float: left;
				margin: 0 0 0 45px;
				
				@include bp($tablet){
					font-family: 'Gotham-Black';
					width: 320px;
					float: none;
					text-align: center;
					height: 30px;
					
					background: url('../images/dot-small.svg') no-repeat;
					background-position: center 23px;
					background-size: 7px 7px;
					margin: 20px auto 0 auto;
					
					&:last-child{
						background: none;
					}
				}
				
				a{
					color: $black;
					text-decoration: none;
					font-family: 'Gotham-Light';
					font-size: 12px;
					text-transform: uppercase;
					-moz-transition: color 0.3s;
					-webkit-transition: color 0.3s;
					transition: color 0.3s;
					
					&:hover, &.active{
						color: $orange;
					}
					@include bp($tablet){
						color: $white;
					}
					
				}
			}
		}
	} /* end NAV */
	
	/* SOCIAL */
	.social{
		float: right;
		margin: 20px 20px 20px 0;
		
		.social-icon{
			width: 14px;
			height: 14px;
			float: left;
			margin: 0 0 0 10px;
			cursor: pointer;
		}
		
		.icon-facebook{
			background: url('../images/icon-facebook.svg') no-repeat center center;
			&:hover{
				background: url('../images/icon-facebook-orange.svg') no-repeat center center;
			}
		}
		.icon-twitter{
			background: url('../images/icon-twitter.svg') no-repeat center center;
			&:hover{
				background: url('../images/icon-twitter-orange.svg') no-repeat center center;
			}
		}
		.icon-instagram{
			background: url('../images/icon-instagram.svg') no-repeat center center;
			background-size: contain;
			&:hover{
				background: url('../images/icon-instagram-orange.svg') no-repeat center center;
				background-size: contain;
			}
		}
	} /* end SOCIAL */
}
