
.home{
	opacity:0;
    .desktop{
        display: block;
        @include bp($home_bp){
	        display: none;
        };
    }

    .mobile{
        display: none;
	
        @include bp($home_bp){
	        display: block;
        };
    }
    
	.featured{
		width: 290px;
		height: 470px;
		float: left;
		color: $white;
		text-align: center;
       /* transition: background-size 0.5s;
        background-size: 105%;
        
        &:hover{
            background-size: 100%;
        }*/
		
		.featured-copy{
			margin: 250px 0 0 0;
            pointer-events: none;
            h3{
                text-transform: uppercase;
            }
			
			@include bp($home_bp){
				/*margin: 45% 0 0 0; */
			    display: table-cell;
			    vertical-align: middle;
			}
		}
		
		h3{
			font-family: 'Gotham-Black';
			margin: 0 0 3px 0;
		}
		
		h4{
			font-family: 'Gotham-LightItalic';
			margin: 3px 0 0 0;
		}
	}
	
	.featured-cocktail{
		/*background: url('../images/home-featured-cocktail.jpg') no-repeat;*/
	}

	.featured-bartender{
		/*background: url('../images/home-featured-bartender.jpg') no-repeat;*/
	}
	
	.center{
		float: left;
		width: 444px;
		
		@include bp($home_bp){
			float: none;
			width: 100%;
		}
		
		.logo{
			background: url("../images/logo.svg") no-repeat;
			width: 311px;
			height: 75px;
			margin: 55px auto 20px auto;
		
			@include bp($home_bp){
				width: 300px;
			}
		}
		
		.copy{
			width: 350px;
			margin: 0 auto;
			text-align: center;
			
		
			@include bp($mobile){
				width: 90%;
			}
		}
		
		.CTA{
			/*background: url("../images/bg-lines.jpg") no-repeat center center;*/
			width: 444px;
			height: 120px;
			margin: 30px 0 0 0;
			float: left;
			

			@include bp($home_bp){
				width: 100%;
			}
			/*@include bp($mobile){
				height: 215px;
			}*/
			
			.btns{
				/*width: 335px;
    			margin: 30px auto 0 auto;
    			@include bp($mobile){
					width: 151px;
				}
				
				a{
					float: left;
					margin: 0;
				}
				p{
					width: 30px;
					float: left;
					text-align: center;
					line-height: 41px;
					@include bp($mobile){ 
						float: none;
						width: 100%;
					}
				}*/
                @include bp($home_bp){
				    width: 430px;
                    margin: 0 auto;
			    }
                @include bp($mobile){
                    width: 310px;
                }

                .btn-big-square{
                    width: 200px;
                    height: 120px;
                    background: url('../images/bg-lines.jpg');
                    float: left;
                    margin: 0 0 0 14px;
                    text-decoration: none;
                    position: relative;
                    @include bp($mobile){
                        width: 150px;
                        margin: 0 0 0 3px;
                    }
                    .icon{
                        width: 40px;
                        height: 40px;
                        margin: 20px auto 10px auto;
                        @include bp($mobile){
                            margin: 10px auto 5px auto;
                        }
                    }
                    p{
                        font-family:"Gotham-Black";
                        font-size: 15px;
                        letter-spacing: 4px;
                        text-transform: uppercase;
                        color: $black;
                        text-align: center;
                        text-decoration: none;
                        @include bp($mobile){
                            font-size: 12px;
                        }
                    }
                }
			}
			
		}
	}
	
	.mobile{
		
		.featured{
			width: 50%;
			text-align: center;
			display: table;
		
		}
		.featured-cocktail{
			/*background: url('../images/home-featured-cocktail-mobile.jpg') no-repeat;*/
			background-size:contain;
		}
		
		.featured-bartender{
			/*background: url('../images/home-featured-bartender-mobile.jpg') no-repeat;*/
			background-size:contain;
		}
	}
}
