
@import 'mixins';


.wrapper{
	width:100%;
	max-width: 1024px;
	margin: 0 auto;
	/*padding: 60px 0 0 0;*/
	
	@include bp($tablet){
		max-width:none;
	}
}
.content{ 
	display: block;
	 width: 100%;
	 margin: 0 auto;
     position: relative;
     opacity: 0;
}

body{
	font-size: 14px;
	color: $black;
}

p{
	margin:  0 0 14px 0;
	font-family: 'Gotham-Light';
}

.LIGHT{
	font-family: 'Gotham-Light';
}

.LIGHT-ITALIC{
	font-family: 'Gotham-LightItalic';
}

.BOOK{
	font-family: 'Gotham-Book';
}

.THIN{
	font-family: 'Gotham-Light';
}

h1{
	font-family: 'Gotham-Black';
	font-size: 30px;
	width: 380px;
	height: 67px;
	background: $white;
	color: $black;
	text-align: center;
	display: block;
    margin: 0 auto;
    line-height: 67px;
	text-transform: uppercase;
	z-index: 1;
	position: relative;
	
	@include bp($mobile){
		width: 290px;
	}
}

.btn-readmore-black{
	background: url('../images/btn-readmore-black.svg') no-repeat center center;
	width: 30px;
	height: 30px;
	display: block;
	margin: 10px auto 0 auto;
	position: relative;
	
	&:hover, &.hover{
		background: url('../images/btn-readmore-orange.svg') no-repeat center center;
		
	}
}
.btn-readmore-white{
	background: url('../images/btn-readmore-white.svg') no-repeat center center;
	width: 30px;
	height: 30px;
	display: block;
	position: relative;
	margin: 130px auto 0 auto;
	
	&:hover, &.hover{
		background: url('../images/btn-readmore-orange.svg') no-repeat center center;
	}
}

.btn-readmore-orange{
	background: url('../images/btn-readmore-orange.svg') no-repeat center center;
	width: 30px;
	height: 30px;
	display: block;
	margin: 130px auto 0 auto;
	position: relative;
	
	&:hover, &.hover{
		background: url('../images/btn-readmore-white.svg') no-repeat center center;
	}
}

.divider{
	background: url('../images/divider.svg') no-repeat;
	width: 53px;
	height: 7px;
	margin: 0 auto;
}
.divider-white{
	background: url('../images/divider-white.svg') no-repeat;
	width: 53px;
	height: 7px;
	margin: 0 auto;
}
.divider-black{
	background: url('../images/divider-black.svg') no-repeat;
	width: 53px;
	height: 7px;
	margin: 0 auto;
}
.btn-discover{
	background: url("../images/btn-discover.svg") no-repeat;
	width: 111px;
	height: 41px;
	display: block;
	font-family: 'Gotham-MediumItalic';
	font-size: 12px;
	line-height: 14px;
	color: $white; 
	text-decoration: none;
	text-align: center;
	padding: 9px 0 0 40px;
	margin: 30px auto 0 auto;
}

.btn-vm{
	background: url("../images/btn-vm.svg") no-repeat;
	width: 111px;
	height: 41px;
	display: block;
	font-family: 'Gotham-MediumItalic';
	font-size: 12px;
	line-height: 14px;
	color: $white; 
	text-decoration: none;
	text-align: center;
	padding: 9px 0 0 40px;
	/*margin: 30px auto 0 auto;*/
	float: left;
	/*margin: */
}

.btn-next{
	background: url("../images/btn.svg") no-repeat;
	width: 111px;
	height: 45px;
	display: block;
	font-family: 'Gotham-MediumItalic';
	font-size: 12px;
	line-height: 45px;
	color: $white; 
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	/*padding: 0 0 0 40px;*/
	/*margin: 30px auto 0 auto;*/
}

.btn{
    position: relative;
    width: 115px;
    height: 45px;
    display: block;
    margin: -30px auto 0 auto;
    z-index: 999;

    svg{
        position: absolute;
        top: 0; 
        left: 0;
    }
    p{
        /*float: left;*/
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        line-height: 45px;
        text-align: center;
        color: $white;
        text-transform: uppercase;
        font-size: 12px;
        font-family:Gotham-MediumItalic;
    }
}


.desktop{
	display: block;
	@include bp($tablet){
		display: none;
	};
}

.mobile{
	display: none;
	
	@include bp($tablet){
		display: block;
	};
}

.dropdown{
	background: url("../images/WorldClassBars_DropDown_Closed.svg") no-repeat;
	width: 216px;
	height: 52px;
	margin: -25px 0 0 290px;
	float: left;
	
	@include bp($mobile){
		margin: -80px 0 0 -108px;
		position: relative;
		float: left;
		left: 50%;
	}
	
	&.open{
		height: 207px;
		background: url("../images/WorldClassBars_DropDown_Open.svg") no-repeat; 
		z-index: 999;
		position: relative;
	}
	a{
		text-decoration: none;
	}
}
.dropdown-reserve{
	background: url("../images/ReserveClubBars_DropDown_Closed.svg") no-repeat;
	width: 216px;
	height: 52px;
	margin: -25px 0 0 10px;
	float: left;
	@include bp($mobile){
		margin: -20px 0 0 -108px;
		position: relative;
		float: left;
		left: 50%;
	}
	
	&.open{
		height: 207px;
		z-index: 999;
		position: relative;
		background: url("../images/ReserveClubBars_DropDown_Open.svg") no-repeat; 
	}
	a{
		text-decoration: none !Important;
	}
}
a:-webkit-any-link{
    text-decoration: none !important;
}
.btn-dropdown{
	font-family: 'Gotham-MediumItalic';
	color: $white;
	line-height: 52px;
	padding: 0 0 0 15px;
	cursor: pointer;
	text-transform: uppercase;
}

.btn-dropdown-option{
	font-family: 'Gotham-Light';
	color: $white;
	line-height: 16px;
	width: 100%;
	height: 16px;
	text-align: center;
	cursor: pointer;
	text-transform: uppercase;
	margin: 24px 0 0 0;
	display: none;
	
	&:hover{
		font-family: 'Gotham-Medium';
	}
	&.open{
		display: block;
	}
	
}

input[type='submit']{
	border: none;
	
}

input[type="checkbox"]{
    opacity: 0;
    float: left;
    clear: left;
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin: 0px 0 35px 0;
    &:nth-child(2){
    	margin: 0;
    }
}

input[type="checkbox"] + label{
	margin: 0 0 0 -20px;
	clear: none;
	float: left;
	padding: 0px 0 0px 24px;
	background: url('../images/checkbox-unchecked.png') left top no-repeat;
	cursor: pointer;
	font-family: 'Gotham-Light';
	font-size: 14px;
	line-height: 20px;
	color: $white;
    -webkit-transition: color 0.3s;
    -ms-transition: color 0.3s;
    transition: color 0.3s;
     &:hover{
         color: $orange;
     }
}

input[type="checkbox"]:checked + label{
	background-image: url('../images/checkbox-checked.png');
}

input[type='text']{
	color: $black;
	font-family: 'Gotham-Medium';
	&::-webkit-input-placeholder {
		font-family: 'Gotham-Medium';
	   color: $black;
	}
	
	&:-moz-placeholder { /* Firefox 18- */
		font-family: 'Gotham-Medium';
	   color: $black;  
	}
	
	&::-moz-placeholder {  /* Firefox 19+ */
		font-family: 'Gotham-Medium';
	   color: $black;
	}
	
	&:-ms-input-placeholder {  
		font-family: 'Gotham-Medium';
	   color: $black;
	}
	&:placeholder{
		font-family: 'Gotham-Medium';
		color: $black; 
	}
}

.errorText{
	display: none;
	text-align: left;
	color: $orange;
	font-size: 12px;
	width: 100%;
	float: left;
	clear: left;
}

.social-icon{
	width: 43px;
	height: 43px;
	float: left;
	margin: 0 0 0 15px;
}

.social-facebook{
	background: url("../images/social-facebook.svg") no-repeat;
}
.social-twitter{
	background: url("../images/social-twitter.svg") no-repeat;
}

.GlowingLight{
   float: left; 
}

/*.preloader{
    width: 100px;
    height: 100px;
    position: absolute;
    top: 30%;
    left: 50%;
    svg{
        position: absolute;
        left: -50px;
    }
}*/

@import 'fonts';
@import 'agegate'; 
@import 'header';
@import 'home';
@import 'bartenders';
@import 'bartenders-detail';
@import 'carousel';
@import 'drinks';
@import 'drinks-detail';
@import 'bars';
@import 'barview';
@import 'competition';
@import 'spirits';
@import 'contact';
@import 'virtualMixology';
@import 'vm-intro';
@import 'footer';
@import 'toastr';
@import 'toast';
