.spirits{
	position: relative;
    opacity: 0;
	h1{
		z-index: 99;
		position: relative;
	}
	.spirit-container{
		background: url("../images/spirits.jpg") no-repeat;
		width: 1024px;
		height: 555px;
		position: relative;
		
		margin: -20px 0 0 0;
		/*z-index: -1;*/
		&.virtualMixology{
			margin: 40px 0 0 0;
		}
		.mask{
			/*background: url("../images/brands-mask.png") no-repeat;*/
			width: 1024px;
			height: 555px;
			position: absolute;
            /*z-index:10;*/
			top: 0;
			left: 0;
			display: none; 
			background-position: -880px 0;
			-moz-transition: background-position 0.3s;
			-webkit-transition: background-position 0.3s;
			transition: background-position 0.3s;
			/*background-position: -750px 0;*/
			/*background-position: -620px 0;*/
			/*background-position: -500px 0;*/
			/*background-position: -390px 0;*/
			/*background-position: -285px 0;*/
			/*background-position: -170px 0;*/
			/*background-position: -50px 0;*/
		}
		
		.btn-info, .btn-add
		{
			font-family: 'Gotham-MediumItalic';
			color: $white;
			width: 30px;
			height: 30px;
			background: url('../images/btn-readmore-white-spirits.svg') no-repeat;
			background-position: 0 0;
			padding: 35px 0 0 0;
			position: absolute;
			top: 160px;
			left: 120px;
			opacity: 0;
			-moz-transition: opacity 0.3s;
			-webkit-transition: opacity 0.3s;
			transition: opacity 0.3s;
			&:hover{
				background: url('../images/btn-readmore-orange-spirits.svg') no-repeat;
				background-position: 0 0;
			}
			cursor: pointer;
		}
	}
	
	.info-holder{
		width: 100%;
		/*height: 295px;*/
		height: 40px;
		background: url("../images/bg-lines-spirits.jpg") no-repeat;
		transition: height 0.4s;
		/*-moz-transition: height 0.4s;
		-webkit-transition: height 0.4s;*/
		&.open{
			height: 295px;
		}
		
		.info{
			width: 628px;
			height: 0px;
			background: url('../images/bg-spirit-info.svg') no-repeat;
			float: left;
			margin: -30px 0 0 200px;
			z-index: 99;
			position: relative;
			
			opacity: 0;
			-moz-transition: opacity 0.5s;
			-webkit-transition: opacity 0.5s;
			transition: opacity 0.5s;
			
			&.open{
				opacity: 1;
				height: 293px;
			}
			
			.name{
				font-family: 'Gotham-Black';
				width: 100%;
				text-align: center;
				margin: 40px 0 0 0;
			}
			
			.divider-black{
				margin: 13px auto;
			}
			
			.description{
				width: 70%;
				text-align: center;
				margin: 0 auto;
				font-family: 'Gotham-Light';
			}
			
			.btn-close{
				width: 30px;
				height: 30px;
				background: url("../images/btn-close-orange.svg") no-repeat;
				cursor: pointer;
				position: absolute;
				top: 14px;
				right: 14px;
				&:hover{
					background: url("../images/btn-close-black.svg") no-repeat;
				}
			}
			
		}
		.btn-discover{
			margin: 8px auto 0 auto;
		}
	}
	
	
	.carouselImage{
		float:left;
		width: 320px;
		height: 320px;
		display: block;
	}
	
	#carousel{
		width: 1023px;
		height: 1023px;
		overflow: hidden;
	}
	
	.carousel-holder{
		position: relative;
		.head{ 
			background: url("../images/bg-spirits.png") no-repeat;
			width: 100%;
			/*height: 475px;*/
		}
		
		&.virtualMixology{
			margin: 100px 0 0 0;
		}
	}
	
	
	.carouselImageHolder{
		float:left;
	}
	
	
	.caroufredsel_wrapper{
		pointer-events:none;
	}
	
	.description{
		padding: 0 20px;
		margin: 20px 0 0 0;
		
		font-family: 'Gotham-Light';
		text-align: center;
		min-height: 100px;
	}
	.CTA{
		height: 80px;
		width: 100%;
		background: url("../images/bg-lines.jpg") no-repeat;
		float: left;
		
		.btn-discover, .btn-next{
			margin: 20px auto;
		}
		
	}
}
