.toast{
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999999999;

    .toast-content{
        background: $orange;
        position: absolute;
        width: 200px;
        top: 40%;
        left: 50%;
        margin-left: -100px; 
        padding: 20px;
        text-align: center;
        color: $white;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;

        p{
            margin: 0;
        }
    }
}