.virtualMixologyMixers{

    /*.progress{
        height: 90px;
    }*/
	.carousel-holder{
		float: left;
		width: 100%;
		background: url("../images/bg-vm-mixers.jpg") no-repeat;
		
		@include bp ($mobile){
			height: 485px;
		}
	}
	
	
	.mixers{
		width: 500px;
		margin: 100px auto 0 auto;
		position: relative;
		/*float: left;*/
		@include bp($mobile_wide){
			width: 250px;
		}
		
		.mixer{
			width: 250px;
			float: left;
		}
	}
	
	.stripes{
		float: left;
		
	}
	
	input[type="checkbox"]{
		margin: 0 0 20px 0;
		
		@include bp($mobile_wide){
			margin: 0 0 10px 0;
		}

	}
}
