.vm-thankyou{
	opacity: 1;
	.carousel-holder{
		float: left;
		width: 100%;
		height: 485px;
		margin: 40px 0 0 0;
		
		background: url("../images/bg-agegate.jpg") no-repeat;		
		
		@include bp($mobile){
			height: 485px;
			margin: 40px 0 0 0;
		}
		
		h1{
			margin: -40px auto 0 auto;
		}
		
		.thanksHolder{
			width: 390px;
			margin: 100px auto 0 auto;
			color: $white;
			@include bp($mobile){
				width: 280px;
			}
			
			.thanks{
				width: 182px;
				margin: 0 auto;
				text-align: center;
			}
			
			.divider-white{
				margin: 40px auto;
			}
			
			
			.btns{
				width: 335px;
    			margin: 0 auto;
    			@include bp($mobile){
					width: 151px;
				}
				
				a{
					float: left;
					margin: 0;
					/*@include bp($mobile){
						clear
					}*/
				}
				p{
					width: 30px;
					float: left;
					text-align: center;
					line-height: 41px;
					@include bp($mobile){ 
						float: none;
						width: 100%;
					}
				}
			}
		}
		
	}	
}
