.virtualMixology{
	position: relative;
    /*opacity: 0;*/ 
	
	.carousel-holder{
		position: relative;
		/*float: left;
    	width: 100%;*/
		height: 490px;
		background: url("../images/bg-vm.jpg") no-repeat;
		margin: 40px 0 0 0;
		
        .glowing-lights-holder{
            width: 100%;
            overflow: hidden;
            float: left;
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
        }
		
		@include bp($mobile){
			margin: 100px 0 0 0;
			height: 320px;
			background-position: 0 bottom;
		}
		
		.head{
			height: 485px;
			z-index: 99;
			
			@include bp($mobile){
				height: 320px;
			}

            .backLabel{
                width: 75px;
                height: 75px;
                position: absolute;
                bottom: 0;
                left: 75px;
                &.glass{
                    background: url('../images/previous_glass.png') no-repeat;
                }
                &.garnish{
                    background: url('../images/previous_garnish.png') no-repeat;
                }
            }
            .nextLabel{
                width: 75px;
                height: 75px;
                position: absolute;
                right: 75px;
                bottom: 0;
                &.glass{
                    background: url('../images/next_glass.png') no-repeat;
                }
                &.garnish{
                    background: url('../images/next_garnish.png') no-repeat;
                }
            }

            .icons-holder{
                position: absolute;
                left: 20px;
                top: 60px;
                 @include bp($mobile){
                    top: 20px;
                 }

                .glass-icon{
                    position: relative;
                    width: 40px;
                    height: 40px;
                    float: left;
                    clear: left;
                    margin: 5px 0 0 0; 

                    @include bp($mobile){
                        width: 30px;
                        height: 30px;
                    }

                    .icon-label{
                        color: $white;
                        position: absolute;
                        top: 15px;
                        left: 45px;
                        float: left;
                        width: 100px;
                        font-family: 'Gotham-Light';
                        font-size: 10px;
                        text-transform: uppercase;
                    }
                }
            }
		}
		
		
		.mixHolder{
			
			width: 485px;
			height: 485px;
			position: absolute;
			top: 15px;
			left: 200px;
			
			@include bp($tablet){
				left: 50%;
    			margin-left: -243px;
			}
			
			@include bp($mobile){
				width: 300px;
				height: 300px;
				margin-left: -150px;
			}
			
			.bottleHolder{
				position: relative;
				z-index: 0;
				width: 100%;
				height: 100%;
				background-size: contain;
				/*background: red;*/
			}
			
			.glassHolder, .garnishHolder, .colourHolder, .bubblesHolder{
				position: absolute;
				top: 0;
				left: 0px;
				z-index: 1;
				width: 100%;
				height: 100%;
				/*background: blue;*/
			}
		}
		
	}
	.glassDescriptionHolder{
		position: absolute;
		top: 140px;
		right: 135px;
		width: 310px;
		color: $white;
		.glassName{
			font-family: 'Gotham-Black';
			width: 100%;
			text-align: center;
			margin: 0 0 10px 0;
            text-transform: uppercase;
		}
		
		.glassDescription{
			margin: 10px 0 0 0;
			font-family: 'Gotham-Light';
			text-align: center;
			@include bp($tablet){
				margin: 25px 0 0 0;
			}
		}
		
		&.mobile{
			top: auto;
			right: auto;
			width: 80%;
			color: $black;
			position: relative;
		    margin: -46px auto 0 auto;
		    right: auto;	
		    @include bp($mobile){
			    margin: -30px auto 0 auto;
		    }
		}
	}
	
	.btn-next{
		margin: -30px auto 0 auto;
		z-index: 100;
		position: relative;
		
		@include bp($tablet){
			margin: 10px auto;
		}
	}
	
	.stripes{
		background: url("../images/bg-lines.jpg") no-repeat;
		width: 100%;
		height: 80px;
		@include bp($tablet){
			margin: 20px 0 0 0;
			float: left;
		}
		
		
		
		.btnHolder{
			width: 250px;
			height: 45px;
			position: relative;
			margin: -30px auto 0 auto;
			z-index: 100;
			
			@include bp($tablet){
				margin: 10px auto;
			}
			
			a{
				position: relative;
				float: left;
			}
			
			.btn-next{
				margin: 0 0 0 15px;
			}
		}
        
		.sharedbuttons{
            width: 340px;

            a{
                float: left;
            }

            .btn-discover{
                margin: 0 0 0 30px;
            }
		}

		
	}
	 
}


		
.progress{
	font-family: 'Gotham-Light';
	position: absolute;
	top: -35px;
	left: 50%;
	margin-left: -150px;
	width: 350px;
	height: 70px;
	/*padding: 20px;*/
	text-align: center;
	z-index: 2000;
    box-sizing: border-box;
    font-size: 12px;

	
	@include bp($mobile){
		top: -95px;
	}

    .progressContent{
        margin: 20px 0 0 20px;
        width: 300px; 
        position: relative;
        z-index: 1; 
    } 
	
	/*&.step1{
		background: url('../images/bg-vm-step1.svg') no-repeat;
	}
	&.step2{
		background: url('../images/bg-vm-step2.svg') no-repeat;
	}
	&.step3{
		background: url('../images/bg-vm-step3.svg') no-repeat;
	}
	&.step4{
		background: url('../images/bg-vm-step4.svg') no-repeat;
	}*/
    
	&.step3{
		height: 90px;
	}
	&.step5{
        height: 100px;
		/*background: url('../images/bg-vm-step5.svg') no-repeat;
        padding: 13px 20px;
        font-size: 13px;*/
	}
	
	
}

@import 'virtualMixologyMixers';
@import 'virtualMixologyName'; 
@import 'virtualMixologySend'; 
@import 'virtualMixologyThanks'; 
