.sendPage{
    opacity: 1;
	.carousel-holder{
		float: left;
		width: 100%;
		
		background: url("../images/bg-agegate.jpg") no-repeat;		
		
		@include bp($mobile){
			height: 500px;
			margin: 40px 0 0 0;
		}
	}	
}

.sendForm{
	width: 280px;
	margin: 30px auto 0 auto;
	
	.sendInstruction{
		text-align: center;
		color: $white;
		
	}
	
	.divider-white{
		margin: 20px auto;
	}
	
	.input{
		float: left;
		margin: 5px 0 0 0;		
		position: relative;
		
		.error{
			background: url("../images/error-input.png") no-repeat;
			width: 27px;
			height: 21px;
			
			position: absolute;
			top: 7px;
		    right: -10px;
		    z-index: 99;
		    display: none;
		    /*&.show{
		    	display: block;
		    }*/
		}
		
		.input-text{
			background: url('../images/bg-nameInput.svg') no-repeat;
			width: 280px;
			height: 38px;
			border: none;
			padding: 0 0 0 10px;
			line-height: 38px;
			margin: 0 0 10px 0;
			text-transform: uppercase;
			font-family: 'Gotham-Black';
			color:$black;
			
		}		
	}
	input[type='checkbox']{
		margin: 0 0 10px 0;
	}
	input[type='checkbox']+label{
		margin: 0;
	}
	
	.send{
		margin: 5px 0 0 60px;
    	float: left;
	}
}
