.nameHolder{
	
	position: absolute;
	top: 100px;
	right: 100px;
	width: 280px;
	z-index: 99;
	color: $white;
	
	@include bp($tablet){
		position: relative;
		top: auto;
		right: auto;
		margin: -40px auto 0 auto;
		color: $black;
	}
	@include bp($mobile){
		margin: -20px auto 0 auto;
	}
	
	.cocktailName{
		
		background: url('../images/bg-nameInput.svg') no-repeat;
		width: 280px;
		height: 38px;
		border: none;
		/*padding: 0 0 0 10px;*/
		line-height: 38px;
		margin: 0 0 10px 0;
		text-transform: uppercase;
		text-align: center;
		font-family: 'Gotham-Black';
		color:$black;
	}
	
	.selector{
		position: relative;
		width: 100%;
		height: 29px;
		
		margin: 10px 0;
		border-bottom: 1px solid $white;
		
		@include bp($tablet){
			/*border-bottom: 1px solid $grey;*/
		}
		
		&.namePage{
			border-bottom: none;
		}
		
		.addButton{
			background: url("../images/btn-add.svg") no-repeat;
			width: 30px;
			height: 30px;
			position: absolute;
			left: 0;
			cursor: pointer; 
		}
		.subtractButton{
			background: url("../images/btn-subtract.svg") no-repeat;
			width: 30px;
			height: 30px;
			position: absolute;
			right: 0;
			cursor: pointer;
		}
		
		.quantity{
			width: 100%;
			text-align: center;
			font-family: 'Gotham-Light';
			font-size: 12px;
			float: left;
			position: absolute;
            bottom: 7px;
            line-height: 14px;
            pointer-events: none;
            z-index:1;
			
			b{
				font-family: 'Gotham-Book';
			}
		}
		
	}

	#ingredient4{
		border-bottom: none;
	}
}
.emailer{
    width: 450px;
    right: 20px;
    top: 150px;
    .cocktailName{
        margin: -30px 90px 10px 0;
        float: right;
    }
    .quantity{
        font-size: 24px;
    }
}