.vm-intro{

	background: url("../images/bg-vm-mixers.jpg") no-repeat;
	width: 100%;
	height: 490px;
	float: left;
    .btn{
        margin: 30px auto 0 auto;
    }

	.intro{
		
		border: 1px solid $white;
		width: 490px;
		text-align: center;
		margin: 70px auto 0 auto;
		padding: 30px;
		position: relative;
		
		@include bp($mobile){
			width: 260px;
		}
		
		.divider-small{
			background: url("../images/divider-small.svg") no-repeat;
			width: 42px;
			height: 10px;
			margin: 0 auto 10px auto;
		}
		
		p{
			font-family: 'Gotham-Light';
			color: $white;
		}
		
		.small-dot{
			background: url("../images/small-dot.svg") no-repeat;
			width: 7px;
			height: 7px;
			position: absolute;
			bottom: -3.5px; 
			left: 50%;
		}
	}
	
	.btn-getStarted{
		display: block;
		width: 114px;
		height: 44px;
		background: url("../images/btn-getStarted.svg") no-repeat;
		text-decoration: none;
		font-family: 'Gotham-MediumItalic';
		font-size: 12px;
		line-height: 44px;
		text-transform: uppercase;
		color:$white;
		text-align: center;
		margin: 50px auto 0 auto;
		@include bp ($mobile){
			margin: 20px auto 0 auto;
		}
	}
}
