.footer{
	width: 100%;
	max-width: 1024px;
	margin: 0 auto;
	position: relative;
	z-index: 1000;
	
	.footer-icons{
		margin: 0 auto;
		width: 885px;
		display: block;
		/*float: left;*/
		
		@include bp($tablet){
			width: 455px;
			margin: 0 auto;
		}
		
		@include bp($mobile_wide){
			width: 300px;
			margin: 0 auto;
		}
		
		ul{
			list-style: none;
			margin: 0;
			padding: 0;
			
		}
		
		.footer-icon{
			float: left;
			width: 147px;
			height: 120px;
		}
		
		.icon-tanquery{
            clear: left;
			background: url("../images/Tanqueray_logo.svg") no-repeat;
		}
		.icon-donjulio{
			background: url("../images/DonJulio_logo.svg") no-repeat;
		}
		.icon-johnniewalker{
			background: url("../images/Singleton_logo.svg") no-repeat;
		}
		.icon-johnniewalker{
			background: url("../images/JohhnieWalkerGold_logo.svg") no-repeat;
		}
		.icon-singleton{
			background: url("../images/Singleton_logo.svg") no-repeat;
		}
		.icon-ronzappa{
			background: url("../images/RonZacapa_logo.svg") no-repeat;
		}
		.icon-ketel{
			background: url("../images/KetelOne_logo.svg") no-repeat;
		}
	}
}
