
@font-face {
  font-family: 'Gotham-LightItalic';
  src: url('../fonts/gotham-light-italic/Gotham-LightItalic.eot?#iefix') format('embedded-opentype'),  url('../fonts/gotham-light-italic/Gotham-LightItalic.otf')  format('opentype'),
	     url('../fonts/gotham-light-italic/Gotham-LightItalic.woff') format('woff'), url('../fonts/gotham-light-italic/Gotham-LightItalic.ttf')  format('truetype'), url('../fonts/gotham-light-italic/Gotham-LightItalic.svg#Gotham-LightItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}
