
@font-face {
  font-family: 'Gotham-Medium';
  src: url('../fonts/gotham-medium/Gotham-Medium.eot?#iefix') format('embedded-opentype'),  url('../fonts/gotham-medium/Gotham-Medium.otf')  format('opentype'),
	     url('../fonts/gotham-medium/Gotham-Medium.woff') format('woff'), url('../fonts/gotham-medium/Gotham-Medium.ttf')  format('truetype'), url('../fonts/gotham-medium/Gotham-Medium.svg#Gotham-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}
