
@font-face {
  font-family: 'Gotham-Black';
  src: url('../fonts/gotham-black/Gotham-Black.eot?#iefix') format('embedded-opentype'),  url('../fonts/gotham-black/Gotham-Black.otf')  format('opentype'),
	     url('../fonts/gotham-black/Gotham-Black.woff') format('woff'), url('../fonts/gotham-black/Gotham-Black.ttf')  format('truetype'), url('../fonts/gotham-black/Gotham-Black.svg#Gotham-Black') format('svg');
  font-weight: normal;
  font-style: normal;
}
