
@font-face {
  font-family: 'Gotham-Light';
  src: url('../fonts/gotham-light/Gotham-Light.eot?#iefix') format('embedded-opentype'),  url('../fonts/gotham-light/Gotham-Light.otf')  format('opentype'),
	     url('../fonts/gotham-light/Gotham-Light.woff') format('woff'), url('../fonts/gotham-light/Gotham-Light.ttf')  format('truetype'), url('../fonts/gotham-light/Gotham-Light.svg#Gotham-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}
