
@font-face {
  font-family: 'Gotham-Thin';
  src: url('../fonts/gotham-thin/Gotham-Thin.eot?#iefix') format('embedded-opentype'),  url('../fonts/gotham-thin/Gotham-Thin.otf')  format('opentype'),
	     url('../fonts/gotham-thin/Gotham-Thin.woff') format('woff'), url('../fonts/gotham-thin/Gotham-Thin.ttf')  format('truetype'), url('../fonts/gotham-thin/Gotham-Thin.svg#Gotham-Thin') format('svg');
  font-weight: normal;
  font-style: normal;
}
