
@font-face {
  font-family: 'Gotham-Book';
  src: url('../fonts/gotham-book/Gotham-Book.eot?#iefix') format('embedded-opentype'),  url('../fonts/gotham-book/Gotham-Book.otf')  format('opentype'),
	     url('../fonts/gotham-book/Gotham-Book.woff') format('woff'), url('../fonts/gotham-book/Gotham-Book.ttf')  format('truetype'), url('../fonts/gotham-book/Gotham-Book.svg#Gotham-Book') format('svg');
  font-weight: normal;
  font-style: normal;
}
