@font-face {
  font-family: 'Gotham-MediumItalic';
  src: url("../fonts/gotham-medium-italic/Gotham-MediumItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/gotham-medium-italic/Gotham-MediumItalic.otf") format("opentype"), url("../fonts/gotham-medium-italic/Gotham-MediumItalic.woff") format("woff"), url("../fonts/gotham-medium-italic/Gotham-MediumItalic.ttf") format("truetype"), url("../fonts/gotham-medium-italic/Gotham-MediumItalic.svg#Gotham-MediumItalic") format("svg");
  font-weight: normal;
  font-style: normal; }

/*# sourceMappingURL=gotham-medium-italic.css.map */
